
/*********************** Base Reset Style ***********************/
* {text-decoration:none;outline:0;padding:0;margin:0;}
html, body{font-size:12px;padding:0; margin:0;}
body{color:#666;font-family:Verdana,Gulim,AppleGothic;  border:solid 3px #b7b7b7}
p, ul, li, img, td, th, tr, h1, h2 {padding:5px; list-style:none;}
fieldset{border:none;}
img, a{border:0 none;vertical-align:baseline;}
* html img, a{border:0 none;}

/*********************** anchor ***********************/
h1 {padding:0 0 20px 0;}
.text1 {padding:10px 0 10px 0;}
.text2 {padding:15px 0 10px 15px;}

h2 {padding:35px 0 20px 0;}
.text3 {padding:0 0 10px 10px;}
.text4 {padding:20px 0 10px 15px;}
.text5 {padding:20px 0 10px 25px;}

/*********************** Padding Style ***********************/
.p_t0{padding-top:0px ! important;}
.p_t5{padding-top:5px ! important;}
.p_t10{padding-top:10px ! important;}
.p_t20{padding-top:20px ! important;}
.p_t30{padding-top:30px ! important;}
.p_t40{padding-top:40px ! important;}
.p_t50{padding-top:50px ! important;}

.p_l0{padding-left:0px ! important;}
.p_l5{padding-left:5px ! important;}
.p_l10{padding-left:10px ! important;}
.p_l13{padding-left:13px ! important;}
.p_l20{padding-left:20px ! important;}
.p_l30{padding-left:30px ! important;}
.p_l40{padding-left:40px ! important;}
.p_l50{padding-left:50px ! important;}
.p_l180{padding-left:180px ! important;}

.p_r0{padding-right:0px ! important;}
.p_r5{padding-right:5px ! important;}
.p_r10{padding-right:10px ! important;}
.p_r20{padding-right:20px ! important;}
.p_r25{padding-right:25px ! important;}
.p_r30{padding-right:30px ! important;}
.p_r40{padding-right:40px ! important;}
.p_r50{padding-right:50px ! important;}

.p_b0{padding-bottom:0px ! important;}
.p_b5{padding-bottom:5px ! important;}
.p_b10{padding-bottom:10px ! important;}
.p_b20{padding-bottom:20px ! important;}
.p_b30{padding-bottom:30px ! important;}
.p_b40{padding-bottom:40px ! important;}
.p_b50{padding-bottom:50px ! important;}


/*********************** Margin Style ***********************/
.m_t0{margin-top:0px ! important;}
.m_t5{margin-top:5px ! important;}
.m_t10{margin-top:10px ! important;}
.m_t20{margin-top:20px ! important;}
.m_t30{margin-top:30px ! important;}
.m_t40{margin-top:40px ! important;}
.m_t50{margin-top:50px ! important;}

.m_r0{margin-right:0px ! important;}
.m_r5{margin-right:5px ! important;}
.m_r10{margin-right:10px ! important;}
.m_r15{margin-right:15px ! important;}
.m_r20{margin-right:20px ! important;}
.m_r30{margin-right:30px ! important;}
.m_r40{margin-right:40px ! important;}
.m_r50{margin-right:50px ! important;}

.m_l0{margin-left:0px ! important;}
.m_l5{margin-left:5px ! important;}
.m_l10{margin-left:10px ! important;}
.m_l13{margin-left:13px ! important;}
.m_l15{margin-left:15px ! important;}
.m_l20{margin-left:20px ! important;}
.m_l25{margin-left:25px ! important;}
.m_l30{margin-left:30px ! important;}
.m_l40{margin-left:40px ! important;}
.m_l50{margin-left:50px ! important;}

.m_b0{margin-bottom:0px ! important;}
.m_b5{margin-bottom:5px ! important;}
.m_b10{margin-bottom:10px ! important;}
.m_b20{margin-bottom:20px ! important;}
.m_b30{margin-bottom:30px ! important;}
.m_b40{margin-bottom:40px ! important;}
.m_b50{margin-bottom:50px ! important;}


/*********************** Float Style ***********************/
.f_left{float:left ! important;}
.f_right{float:right ! important;}
.f_clear{clear:both ! important;}


/*********************** Text Align Style ***********************/
.t_left{text-align:left ! important;}
.t_right{text-align:right ! important;}
.t_center{text-align:center ! important;}


/*********************** Vertical Align Style ***********************/
.v_top{vertical-align:top ! important;}
.v_middle{vertical-align:middle ! important;}
.v_bottom{vertical-align:bottom ! important;}


/*********************** Font Color Style ***********************/
.orange{color:#F46007 ! important;}
.red{color:#ED4323 ! important;}
.blue{color:#5372B4 ! important;}
.black{color:#000 ! important;}
.white{color:#fff ! important;}
.yellow{color:#FFA25E ! important;}
.green{color:#3F9D46 ! important;}
.skyblue{color:#6BAFE0 ! important;}
.gray{color:#696C71 ! important;}

.bold_none{font-weight:normal ! important;}

.f_11{font-size:11px ! important;}
.f_12{font-size:12px ! important;}