
<table cellspacing="0" cellpadding="0" class="list_type01" summary="게시판관리"><!-- list_type01 Start -->
	<caption>게시판관리</caption>
	<colgroup>
		<col width="8%" />
		<col width="*%" />		
		<col width="10%" />		
		<col width="15%" />		
		<col width="15%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">NO</th>
			<th scope="col">제목</th>
			<th scope="col">조회수</th>
			<th scope="col">작성자</th>
			<th scope="col">등록일</th>
		</tr>
	</thead>
	<tbody>
		#foreach($bd in $boardList)
		<tr>
			<td>$bd.rowNum</td>
			<td class="t_left"><a href="javascript:modify($bd.boardID);">$bd.title</a>
				#if($bd.newYN == 'Y')<img name="image" src="/mgr/images/icon/new.gif" alt="new"/> #end</td>
			<td>$bd.hitsCount</td>
			<td>$bd.regName</td>
			<td>$dateformatter.print($!bd.regDate, $!locale)</td>
		</tr>
		#end
		
		#set($cnt = $boardList.size() + 1)
		#if($cnt < $showCnt)
		#foreach($blank in [$cnt..$showCnt])
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		#end
		#end
	</tbody>
</table><!-- list_type01 End -->
<script>
	#if($boardList)
	setRecordCnt($totalCnt, $currPage, $totalPage, $showCnt);
	#end
</script>