<head>
	<title>글 수정</title>
	<script type="text/javascript" language="javascript">
	function modify()
	{
		oEditors[0].exec("UPDATE_CONTENTS_FIELD", []);
		
		if($("#modifyForm").formSerialize().indexOf("\'") != -1) {
			alert("' 는 사용할 수 없습니다.\n    \" 를 사용해주세요.");
			return;
		}
				
		jQuery.post('board_update.json', 
				$("#modifyForm").formSerialize(), 
				function(data) {
        			if(data.errors == true)
        			{
        				eval(data.message);
        			}
        			else
        			{
						alert("저장되었습니다.");
						opener.search();
						window.close();
        			}
				});
	}	
	
	function boardDelete(){
		var cofirm = confirm("게시물을  삭제하시겠습니까?");
    	if(cofirm){
    		jQuery.get('board_delete.json', 
				$("#modifyForm").formSerialize(),
				function(data) {
        			if(data.errors == true)
        			{
        				eval(data.message);
        			}else{						
						opener.search();
						window.close();
					}
				});
    	}
	}
	
	//파일 업로드 시 
    function setUploadResult(originalFilename, srcName, fileSize)
    {
		$("#uploadTB").append('<div class="icon" id=\''+srcName+'\'><input type="hidden" id="upfileSrc" name="upfileSrc" value="'+srcName+'"/><a href="javascript:download(\''+srcName+'\');">'+originalFilename+'</a><span>('+getFileSize(fileSize)+')</span><a href="javascript:delRow(\''+srcName+'\');"><img src="/mgr/images/btn/btn_del.gif" /></a></div>');
    }
	function setUploadImageResult(originalFilename, srcName, fileSize)
	{
		var sHTML = "<img src='/mgr/common/file_download.json?srcName=" + srcName + "'>"; 
        oEditors[0].exec("PASTE_HTML", [sHTML]); 
	}
    
	//저장되어있는 파일 삭제
	function deleteFileDB(fileID)
    {
    	if(confirm("파일을 삭제하시겠습니까?")){
			jQuery.post('/mgr/common/file_delete_id.json', 
				'upfileId='+fileID, 
				function(data) {
        			if(data.errors == true)
        			{
        				eval(data.message);
        			}
        			else
        			{
						$("#uploadTB").find("div[id^="+fileID+"]").remove();
        			}
				});
    	}
    }
	
    //파일 삭제(저장되기전)
    function delRow(trId)
    {
    	jQuery.post('/mgr/common/file_delete.json?srcName=' + trId, 
    			function(data) {
        			if(data.errors == true)
        				eval(data.message);
					else
						$("#uploadTB").find("div[id^="+trId+"]").remove();
    	});
    }
	
	//디비에 저장된 내용 다운로드
    function downloadDB(fileID)
    {
    	document.location.href = '/mgr/common/file_download_id.json?upfileId=' + fileID;
    }
	
	//디비에 저장되기전 내용 다운로드
    function download(srcName)
	{
		document.location.href = '/mgr/common/file_download.json?srcName=' + srcName;
	}
	</script>
</head>
<body>
<div style="width:90%;padding-left:30px;padding-top:30px;">
<form id="modifyForm" action="#" onsubmit="try{modify();}catch(e){alert(e);}return false;">
<input type="hidden" id="boardID" name="boardID" value="$!board.boardID"/>
<input type="hidden" name="gubunID" id="gubunID" value="$!board.gubunID"/>
<input type="hidden" name="upfileGid" id="upfileGid" value="$!board.upfileGid"/>
<h2>글 수정</h2>
<table borad="1" cellspacing="0" cellpadding="0" class="form_type01" summary="게사판 글 수정"><!-- list_type01 Start -->
	<caption>게시판관리</caption>
	<colgroup>
		<col width="15%" />
		<col width="35%" />
		<col width="15%" />
		<col width="35%" />
	</colgroup>
	<tbody>
		<tr>
			<th scope="row">제목</th>

			<td colspan="3"><input type="text" size="50" title="제목" name="title" id="title" value="$!board.title"/></td>
		</tr>
		<tr>
			<th scope="row">이메일</th>
			<td><input type="text" style="width:100%" title="email" name="email" id="email" value="$!board.email"/></td>
			<th scope="row">조회수</th>
			<td>$!board.hitsCount</td>
		</tr>
		<tr>
			<th scope="row">파일선택</th>
			<td colspan ="3" id="uploadTB">
				<iframe id="upload" name="upload" src="/mgr/common/file_write.ifm.action?confKey=att" width="100%" height="25" frameborder="0" scrolling="no" style="padding: 0;margin: 0"></iframe>
			</td>
			<script>
			#if ($fileList.size()>0)
			  #foreach($file in $fileList)
              $("#uploadTB").append('<div class="icon" id=\'$file.upfileId\'><a href="javascript:downloadDB(\'$file.upfileId\');">$file.upfileFilename</a><span>('+getFileSize($file.upfileSize)+')</span><a href="javascript:deleteFileDB(\'$file.upfileId\');"><img src="/mgr/images/btn/btn_del.gif" /></a></div>');               
			  #end
			#end
			</script>
		</tr>
		<tr>
			<th scope="row">내용</th>
			<td colspan ="3">
				<textarea rows="20" cols="96" id="boardContent" name="boardContent" title="내용" ></textarea>
				<div id="tempContent" style="display:none;">$!board.boardContent</div>
				<script type="text/javascript">
					var oEditors=[];
					nhn.husky.EZCreator.createInIFrame({
					    oAppRef: oEditors,
					    elPlaceHolder:"boardContent",
					    sSkinURI: "/smarteditor/SmartEditor2Skin.html",
					    fCreator:"createSEditor2", 
						htParams:{fOnBeforeUnload:function(){}}, 
						fOnAppLoad:function(){oEditors[0].exec("PASTE_HTML", [$('#tempContent').html()]); }
					});
				</script>
			</td>
		</tr>
		<tr>
			<th scope="row">등록정보</th>
			<td>$!board.regID ($datetimeformatter.print($!board.regDate, $locale)) </td>
			<th scope="row">수정정보</th>
			<td>#if("$!board.modID" !="") $!board.modID ($datetimeformatter.print($!board.modDate, $locale)) #end</td>
		</tr>
	</tbody>
</table><!-- list_type01 End -->


<div class="btn_box_type03">
	<a href="javascript:modify();"><img src="/mgr/images/btn/save.gif" alt="저장" /></a>
	<a href="javascript:boardDelete();"><img src="/mgr/images/btn/delete.gif" alt="삭제" /></a>
	<a href="javascript:window.close();"><img src="/mgr/images/btn/cancel.gif" alt="취소" /></a>
</div>

</form>
</div>
</body>
</html>