<head>
	<link rel="stylesheet" type="text/css" href="/mgr/css/login.css" />
	<script type="text/javascript" language="javascript">
		function login()
		{
			jQuery.post('loginAction.json', 
				$("#loginForm").formSerialize(), 
				function(data) {
        			if(data.errors == true)
        			{
        				eval(data.message);
        			}
        			else
        			{
						document.location.href = '/mgr/main.sub.action';
        			}
			});
		}
		$(document).ready(function(){
			$("#adminId").focus();
		});
	</script>
</head>
<body>
<div id="login_box"><!-- login_box Start -->

	<h1><img name="image" src="/mgr/images/login/h1.gif" alt="CUinfo 관리시스템" /></h1>

	<form id="loginForm" action="#" onsubmit="try{login();}catch(e){alert(e);}return false;"><!-- box_type01 Start -->
		<fieldset>			
			<label for="input-1"><img name="image" src="/mgr/images/login/id.gif" alt="아이디" /></label>
			<input type="text" id="adminId" name="adminId" style="ime-mode:inactive;" size="30" title="아이디입력" value=""/> 
			<label for="input-1"><img name="image" src="/mgr/images/login/pw.gif" alt="비밀번호" /></label>
			<input type="password" id="adminPwd" name="adminPwd" style="ime-mode:inactive;" size="30" title="비밀번호입력" value=""/> 
			<a><input type="image" id="login" src="/mgr/images/login/btn.gif" style="width:79px;height:50px;border:0px;" alt="로그인" /></a>
		</fieldset>
		<ul>
			<li>
				<span>[110-858] 서울시 종로구 삼봉로 81 위브파빌리온 924호</span>
				<span class="f_right">TEL : 02) 723-6574~5</span>
			</li>
			<li>
				<span>COPYRIGHT (R) SINCE 2013 한국원격대학협의회.<br/>ALL RIGHTS RESERVED.</span>
				<span class="f_right">FAX : 02) 723-6541&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</li>
		</ul>
	</form><!-- box_type01 End -->


</div><!-- login_box End -->
</body>
</html>