<head>
	<title>학과정보관리</title>
	<script type="text/javascript" language="javascript">
	function search()
	{
		if($("#deptId").val() != "")
			$("#deptId").val("");
		
		goPage(1);
	}
	
	function search1()
	{
		goPage(1);
	}
	
	function setRecordCnt(totalCnt, currPage, totalPage, showCnt)
	{
		$("#tCnt").text(totalCnt);
		$("#cPage").text(currPage);
		$("#tPage").text(totalPage);
		
		setPaging($("#pg"), totalCnt, showCnt, currPage);
	}
	
	function goPage(page)
	{
		if(typeof(page) != "undefined")
			$("#currPage").val(page);
		
		jQuery.post('major_list.ajax.action', 
				$("#searchForm").formSerialize(), 
				function(data) {
        			$("#list").html(data);
		});
	}
	
	function modify(univDeptId, universityId)
	{
		showWin('/mgr/univ/major_modify.pop.action?univDeptId=' + univDeptId + '&universityId=' + universityId, 'modwin', 800, 470);
	}
	
	function reg()
	{
		showWin('/mgr/univ/major_write.pop.action', 'regwin', 800, 440);
	}

	function chkNumber(obj, index) { 

		var valRadio;
		 		
		
		if(index == 1){
 			valRadio = $('input[name="radioUniversity"]:checked').val();
		} else {
			if($adminInfo.authLevelId == 3){
				valRadio = "Y";
			} else {				
				valRadio = $('input[name="radioUnivDept"]:checked').val();
			}			
		}
		if(valRadio=="Y"){
			return true; 	
		} else {
			numbersonly(obj);
			return true; 	
  		}
	}
	
	function clsText(index){
	
		if(index == 1){
			$("#universityIdName").val("");
		} else {
			$("#univDeptIdName").val("");
		}
	}
	
	$(document).ready(function() {
		search1();
    });
	</script>
</head>

<body>
	<!-- MainCopyBox  Start (페이지별 location 정보 표시.)-->
	<div id="location_box">
		<h3><img src="/mgr/images/univ/title2.gif" alt="학과정보관리" /></h3>
		<ul class="location">
			<li><a href="/mgr/main.sub.action">Home</a></li>
			<li><a href="/mgr/univ/univInfo.sub.action?gnb=11">학교/학사관리</a></li>
			<li>학과정보관리</li>
		</ul>
	</div>
	<!-- MainCopyBox  End -->
	
<form class="search_box01" id="searchForm" name="searchForm" action="#" onsubmit="try{search();}catch(e){alert(e);}return false;"><!-- box_type01 Start -->
<input type="hidden" id="showCnt" name="showCnt" value="15"/>
<input type="hidden" id="currPage" name="currPage" value="1"/>
<input type="hidden" id="deptId" name="deptId" value=$!deptId> </input>

	<fieldset class="inner">
		<table cellspacing="0" cellpadding="0" summary="학과정보 검색" class="border_none_table">
			<caption>학과정보 검색</caption>
			<colgroup>
				<col width="50%"/>
				<col width="*%"/>
			</colgroup>
			<tbody>
				<tr>
					<td>
						<label for="radio-1"><input type="radio" name="radioUniversity" id="radio-1" value="Y" onclick="clsText(1)"  checked/> 학교명</label>
						<label for="radio-2"><input type="radio" name="radioUniversity" id="radio-2" value="N" onclick="clsText(1)"  /> 코드</label>
						<input type="text" id="universityIdName" name="universityIdName" size="10" title="학교명입력" onkeyup="return chkNumber(this, 1)"/> 
					</td>
					<td>
						<label for="select-1">학과분야</label>
						<select	id="classifyId" name="classifyId">
							<option value="">전체</option>
							#foreach($code in $reptClassifyList)
							<option value="$!code.classifyId">$!code.classifyName</option>
							#end
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="radio-3"><input type="radio" name="radioUnivDept" id="radio-3" value="Y" checked/> 대표학과명</label>
						<label for="radio-4"><input type="radio" name="radioUnivDept" id="radio-4" value="N" /> 학교측학과명</label>
						<input type="text" id="univDeptIdName" name="univDeptIdName" size="10" title="학과명입력" value='$!univDeptIdName' /> 
					</td>
					<td>
						<label for="select-2">사용여부</label>
						<select	id="useYn" name="useYn">
							<option value="">전체</option>
							<option value="Y">예</option>
							<option value="N">아니오</option>
						</select>
						<a><input type="image" style="width:52px;height:21px;border:0px;" src="/mgr/images/btn/search.gif" alt="검색" /></a>
					</td>				
				</tr>
			</tbody>
		</table>
	</fieldset>
</form><!-- box_type01 End -->


<div class="list_top01">
	<span>학교측 학과코드 클릭 시 관리페이지로 이동합니다.</span>
	<span class="f_right">total : <em id="tCnt">00</em>건(<em id="cPage">1</em>/<em id="tPage">10</em>page)</span>
</div>


<div id="list">#parse('mgr/univ/major_list.vm')</div>



<div class="page_num">
	<div id="pg" name="pg"></div>
	<a class="f_right" href="javascript:reg();"><img src="/mgr/images/btn/enter_class.gif" alt="학과등록" /></a>
</div>


</body>
</html>