<head>
	<title>정보등록</title>
	<script type="text/javascript" language="javascript">

	function write()
	{
		setdept();
	}
	function save()
	{
	
		if($("#writeForm").formSerialize().indexOf("\'") != -1) {
			alert("' 는 사용할 수 없습니다.\n    \" 를 사용해주세요.");
			return;
		}
	
		jQuery.post('univStats_save.json', 
				$("#writeForm").formSerialize(), 
				function(data) {
        			if(data.errors == true)
        			{
        				eval(data.message);
        			}
        			else
        			{
						alert("저장되었습니다.");
						opener.search();
						window.close();
        			}
				
		});
	}
	
	</script>
</head>
<body>
<div style="width:90%;padding-left:30px;padding-top:30px;">
<form id="writeForm" action="#" onsubmit="try{write();}catch(e){alert(e);}return false;">
<h2>정보 등록</h2>	
<table cellspacing="0" cellpadding="0" class="form_type01" summary="대학정보현황관리"><!-- list_type01 Start -->
	<caption>대학정보현황관리</caption>
	<colgroup>
		<col width="15%" />
		<col width="*%" />
		
	</colgroup>
	<tbody>
		<tr>
			<th scope="row">구분</th>
			<td>
				<select	id="infoGubunId" name="infoGubunId">
					#foreach($code in $codeList)
					<option value="$!code.codeId"> $!code.codeName </option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<th scope="row">현황정보</th>
			<td><input type="text" size="70" maxlength="30" title="현황정보" name="infoName" id="infoName"/></td>
		</tr>
		<tr>
			<th scope="row">URL패턴</th>
			<td>
				<textarea id="infoUrlpattern" name="infoUrlpattern" title="URL패턴" rows="5" cols="70"></textarea>
				<div class="m_t5">[YYYY] : 년도<br/>[SCHCODE] : 학교코드 (대학알리미 학교코드는 시스템관리의 학교관리에서 관리.)</div>
			</td>
		</tr>
		<tr>
			<th scope="row">순서</th>
			<td><input type="text" size="10" title="순서" name="infoOrder" id="infoOrder"  maxlength="30" onkeyup="return numbersonly(this)"/></td>			
		</tr>
		<tr>
			<th scope="row">사용여부</th>
			<td colspan="3">
				<label for="radio-1"><input type="radio" name="useYn" id="radio-1" maxlength="30" value="Y" checked/> 사용함</label>
				<label for="radio-2"><input type="radio" name="useYn" id="radio-2" maxlength="30" value="N" /> 사용하지 않음</label>
			</td>
		</tr>
	</tbody>
</table><!-- list_type01 End -->


<div class="btn_box_type03">
	<a href="javascript:save();"><img src="/mgr/images/btn/save.gif" alt="저장" /></a>
	<a href="javascript:window.close();"><img src="/mgr/images/btn/cancel.gif" alt="취소" /></a>
</div>

</form>
</div>
</body>
</html>