<head>
	<script type="text/javascript" language="javascript">
	//document.location.href = '/mgr/univ/univInfo.sub.action?gnb=11';
	</script>
</head>
<body>
	welcome to Administrator SYSTEM.
</body>
</html>