 #if($!gID == "153")	
	#set($SubTitle = "연구/교육자료")
	#set($TitleImage = "title1.gif")
	#set($main_copy = "사이버대학에 대한 연구자료 및 교육 자료에 대한 안내입니다.")
 #elseif($!gID == "154")
	#set($SubTitle = "공지사항")
	#set($TitleImage = "title5.gif")
	#set($main_copy = "홈페이지 및 사이버 대학에 대한 내용을 알려드립니다.")
 #else
	#set($SubTitle = "원격대학협의회동정")
	#set($TitleImage = "title4.gif")
	#set($main_copy = "원격 대학 협의회 최근 근황 및 사이버대학 주요 정책에 대해 알려 드립니다.")
 #end
<head>
	<title>$SubTitle</title>
	<script type="text/javascript" language="javascript">
	//디비에 저장된 내용 다운로드
    function downloadDB(fileID)
    {
    //document.location.href = 'savedFile_download.json?fileGid=' + fileGid + '&fileID=' + fileID;

//		document.location.href = 'board_File_download.json?fileGid=' + fileGid + '&fileID=' + fileID;

		document.location.href = '/mgr/common/file_download_id.json?upfileId=' + fileID;
    }
	
	</script>
</head>

<body>

<p class="location">
	<a href="/home/index.main.action">홈</a> <span>></span>
	<a href="/home/refer/board.sub.action?gnb=51&gID=153">정보자료실</a> <span>></span>
	#if($!gID=="153")
	<a href="/home/refer/board.sub.action?gnb=51&gID=153">연구/교육자료</a>
	#elseif($!gID=="154")
	<a href="/home/refer/board.sub.action?gnb=53&gID=154">공지 사항</a>
	#end
</p>
	#if($!gID=="153")
	<h3><img src="/home/images/refer/title1.gif" alt="연구/교육 자료" /></h3>
	#elseif($!gID=="154")
	<h3><img src="/home/images/refer/title5.gif" alt="공지사항" /></h3>
	#end

<div class="main_copy">$main_copy</div>
<form id="searchForm" name="searchForm" action="#" onsubmit="try{search();}catch(e){alert(e);}return false;"><!-- box_type01 Start -->
<input type="hidden" id="showCnt" name="showCnt" value="10"/>
<input type="hidden" id="currPage" name="currPage" value="1"/>
<input type="hidden" id="gubunID" name="gubunID" value="$!gID"/><!-- 게시판 구분 -->
<input type="hidden" id="boardID" name="boardID" value="0" />
<fieldset class="borad_search" id="borad_search">
	<span class="dot">total : <b><em id="tCnt">0</em>건</b> (<em id="cPage">1</em>/<em id="tPage">0</em>page)</span>
	<select	name="cbSearch" id="cbSearch">
		<option value="">선택</option>
		<option value="T" selected>제목</option>
		<option value="C">내용</option>
		<option value="N">작성자</option>
	</select>
	<input type="text" size="20" name="searchValue1" id="searchValue1" title="검색어입력"/>
	<input type="image" src="/home/images/btn/search.gif" alt="검색" />
</fieldset>
</form><!-- box_type01 End -->
<div class="m_l20" id="list">
<table cellspacing="0" cellpadding="0" class="table_type1 st01 m_b10" summary="게시판 보기"><!-- table_type1 st01 Start -->
	<caption>게시판 보기</caption>
	<colgroup>
		<col width="10%" />
		<col width="*%" />
		<col width="10%" />
		<col width="35%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col" colspan="4" class="title">$!board.title</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">조회수</th>
			<td class="t_left">$board.hitsCount</td>
			<th scope="row">등록일</th>
			<td class="t_left">$datetimeformatter.print($!board.regDate, $locale)</td>
		</tr>
		<tr>
			<th scope="row">첨부파일</th>
			<td class="t_left">
			#if ($fileList.size()>0)
				#foreach($fl in $fileList)
				  <div><a href ="javascript:downloadDB('$!fl.upfileId');">$!fl.upfileFilename </a></div>			
				#end
			#end
			</td>
			<th scope="row">작성자</th>
			<td class="t_left">$!board.regName</td>			
		</tr>
		<tr>
			<td colspan="4" class="text_box">
				#if($board.typeID == 20) 
					$htmlUtils.lineChange($!board.boardContent)
				#else 
					$!board.boardContent
				#end
			</td>
		</tr>
	</tbody>
</table>
<div class="btn_box_type03"><!-- page_num Start -->
	<a href='javascript:history.back();'><img src="/home/images/btn/list.gif" alt="목록" /></a>
</div><!-- page_num End -->
</div>
</body>
</html>
