<table cellspacing="0" cellpadding="0" class="table_type1 st01 m_b10" summary="게시판 보기"><!-- table_type1 st01 Start -->
	<caption>게시판 보기</caption>
	<colgroup>
		<col width="10%" />
		<col width="*%" />
		<col width="10%" />
		<col width="35%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col" colspan="4" class="title">$!board.title</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">조회수</th>
			<td class="t_left">$board.hitsCount</td>
			<th scope="row">등록일</th>
			<td class="t_left">$datetimeformatter.print($!board.regDate, $locale)</td>
		</tr>
		<tr>
			<th scope="row">첨부파일</th>
			<td class="t_left">
			#if ($fileList.size()>0)
				#foreach($fl in $fileList)
				  <div><a href ="javascript:downloadDB('$!fl.upfileGid','$!fl.upfileID' );">$!fl.orgFileName </a></div>			
				#end
			#end
			</td>
			<th scope="row">작성자</th>
			<td class="t_left">$!board.regName</td>			
		</tr>
		<tr>
			<td colspan="4" class="text_box">
				#if($board.typeID == 20) 
					$htmlUtils.lineChange($!board.boardContent)
				#else 
					$!board.boardContent
				#end
			</td>
		</tr>
	</tbody>
</table>
<div class="btn_box_type03"><!-- page_num Start -->
	<a href="javascript:headerSearch(1);"><img src="/home/images/btn/list.gif" alt="목록" /></a>
</div><!-- page_num End -->