
 #if($!gID == "156")	
	#set($SubTitle = "자주하는질문답변")
	#set($TitleImage = "title7.gif")
 #end
<head>
	<title>$SubTitle</title>
	<script type="text/javascript" language="javascript">

	function search()
	{
		goPage(1);
	}
	
	function setRecordCnt(totalCnt, currPage, totalPage, showCnt)
	{
		$("#tCnt").text(totalCnt);
		$("#cPage").text(currPage);
		$("#tPage").text(totalPage);
		
		setPaging($("#pg"), totalCnt, showCnt, currPage);
	}
	
	function goPage(page)
	{

		$("#currPage").val(page);
		
		$("#borad_search").show();
		$("#page_num").show();
		jQuery.post('faq_list.ajax.action', 
				$("#searchForm").formSerialize(), 
				function(data) {
        			$("#list").html(data);
		});

	}

	$(document).ready(function() {
		$("#headerText").val('$!searchText');
		search();
		
		//viewImage(faqId,upfileGid);
    });
	
    // Tab View
	function changeTab(selectedValue)
	{	
		$("#tabVal").val(selectedValue);
		
		$("#faqTab li > a").removeClass("on");		
		if(selectedValue == 1){
			$("#tab1").addClass("on");
			$("#sectionId").val("");
		}else if(selectedValue == 3){
			$("#tab3").addClass("on");
			$("#sectionId").val("45");
		}else if(selectedValue == 4){
			$("#tab4").addClass("on");
			$("#sectionId").val("46");
		}else{
			$("#tab5").addClass("on");			
			$("#sectionId").val("47");
		}		
		goPage(1);
	}
	
	function viewImage(faqId,upfileGid){
		jQuery.get('faq_img.ajax.action?fileGid='+upfileGid, 
			function(data) {
    			$("#id_"+faqId).html(data);
		});
	
		displayControll_A(faqId);
	}
	
	function openAnswer(faqId,upfileGid){
		/*
		if(upfileGid > 0){
    		jQuery.get('faq_file.ajax.action?fileGid='+upfileGid, 
    			function(data) {
        			$("#file_"+faqId).html(data);
    		});
		}
		*/
		displayControll_A(faqId);
		
		/*
		if(upfileGid > 0){
			displayControll_B(faqId);
		}
		*/
	}
	
	function displayControll_A(faqId){
		if(document.getElementById("id_" + faqId).style.display == "none" || document.getElementById("id_" + faqId).style.display == "" ){
			document.getElementById("id_" + faqId).style.display = "block";
		}else{
			document.getElementById("id_" + faqId).style.display = "none";
		}
	}
	
	/*
	function displayControll_B(faqId){
		if(document.getElementById("file_" + faqId).style.display == "none" || document.getElementById("file_" + faqId).style.display == "" ){
			document.getElementById("file_" + faqId).style.display = "block";
		}else{
		    document.getElementById("file_" + faqId).style.display = "none";
		}
	}
   */
	
	//디비에 저장된 내용 다운로드
    function downloadDB(fileGid,fileID)
    {
    	document.location.href = 'board_File_download.json?fileGid=' + fileGid + '&fileID=' + fileID;
    }
	

	</script>
</head>

<body>
    <div id="location_box"><!-- MainCopyBox  Start -->
    	<h3><img src="/home/images/refer/$TitleImage" alt="$SubTitle" /></h3>
    	<span class="sns_box" id="sns_box">
    		<a href="javascript:sns(1)"><img src="/home/images/icon/sns_1.gif" alt="트위터" /></a>
    		<a href="javascript:sns(2)"><img src="/home/images/icon/sns_2.gif" alt="페이스북" /></a>
    		<a href="javascript:sns(3)"><img src="/home/images/icon/sns_3.gif" alt="미투데이" /></a>
    		<a href="javascript:contentPrint()"><img src="/home/images/icon/sns_4.gif" alt="프린트" /></a>
    	</span>
    	<ul class="location">
    		<li><a href="/home/index.main.action?">Home</a></li>
    		<li><a href="/home/refer/board.sub.action?gnb=41&gID=153">정보자료실</a></li>
    		<li>$SubTitle</li>
    	</ul>
    </div><!-- MainCopyBox  End -->
		
    <ul id ="faqTab" class="tab_type1 menu2">
    	<li class="tab1"><a class="on" id ="tab1" href="javascript:changeTab(1)">전체</a></li>
    	<li class="tab3"><a id ="tab3" href="javascript:changeTab(3)">사이버대학</a></li>
        <li class="tab4"><a id ="tab4" href="javascript:changeTab(4)">입학안내</a></li>
    	<li class="tab5"><a id ="tab5" href="javascript:changeTab(5)">수업/학업</a></li>
    </ul>

	<form id="searchForm" name="searchForm" action="#" onsubmit="try{search();}catch(e){alert(e);}return false;"><!-- box_type01 Start -->
    <input type="hidden" id="showCnt" name="showCnt" value="10"/>
    <input type="hidden" id="currPage" name="currPage" value="1"/>
    <input type="hidden" id="gubunID" name="gubunID" value="$!gID"/><!-- 게시판 구분 -->
    <input type="hidden" id="sectionId" name="sectionId" value=""/>
    <input type="hidden" id="faqID" name="faqID" value="0" />
    <input type="hidden" id="tabVal" name="tabVal" value="" />
    <!-- faqDao.xml 에서 요구되는 정렬기준 값(관리자모드에서의 변수값을 임의로  추가)  -->
    <input type="hidden" id="searchCon1" name="searchCon1" value="1" />
    <!-- faqDao.xml 에서 요구되는 '제목+내용' 검색을 위한  구분 값(관리자모드에서의 변수값을 임의로  추가) -->
    <input type="hidden" id="selectRadio1" name="selectRadio1" value="3" />

    <fieldset class="faq_search" id="faq_search">
    	<span>궁금하신 사항을 검색해주세요. 바로 바로 해결방법을 제시해드립니다</span>
    	<input style="margin:0 0 10px 0;padding:0 0 0 8px;" type="text" size="20" name="faqContent" id="faqContent"  value="$!searchText" title="검색어입력"/>
    	<input style="margin:0 0 10px 0;padding:0 0 0 8px;" type="image" src="/home/images/btn/search.gif" alt="검색" />
    </fieldset>
</form><!-- box_type01 End -->
<div id="list">#parse('home/refer/faq_list.vm')</div>
<div class="page_num" id ="page_num">
	<div id="pg" name="pg"></div>
</div>

</body>
</html>