<head>
	<title>학교별 강좌 등록 통계 그래프</title>
</head>
<body>
<div style="width:90%;padding-left:30px;padding-top:30px;">
<input type="hidden" name="searchPublicFlag" id="searchPublicFlag" value="Y"/>
<h2>학교별 강좌 등록 통계 그래프</h2>
<table border="0" width="700" height= "400" class="form_type01" >
  <tr><td>
	<div id="chart_div"></div>
  </td></tr>
</table>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	
	function drawChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('string', '학교명');
		data.addColumn('number', '등록건수');
		data.addColumn('number', '서비스건수');
		
		//alert("drawChart1: + $!courseList.size()");
		#if($courseList)
    		data.addRows($courseList.size() + 1); 
			
    		#set($idx = 0)    		
    		#foreach($ct in $courseList) 
        		data.setValue($idx, 0 , "$ct.univName");
        		data.setValue($idx, 1 , $ct.regCnt);
				data.setValue($idx, 2 , $ct.serviceCnt);
    			#set($idx = $idx + 1)
    		#end
		#end
		var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		chart.draw(data, {width: 700, height: 400, title: '학교별 강좌 등록 현황',
		hAxis: {title: '학교명', titleTextStyle: {color: 'red'}}
		});
	}  
</script>
</body>

