
<table cellspacing="0" cellpadding="0" class="list_type01" summary="학교 조회수 통계"><!-- list_type01 Start -->
	<caption>학교 조회수 통계</caption>
	<colgroup>
		<col width="5%" />
		<col width="*%" />
		<col width="20%" />
		<col width="20%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">순위</th>
			<th scope="col">학교명</th>
			<th scope="col">조회수</th>
			<th scope="col">비율</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th scope="col" colspan="2">합계</th>
			<th scope="col">$!hitsTotal</th>							
			<th scope="col"></th>
		</tr>
	</tfoot>
	<tbody>
		#foreach($ht in $hitsList)
		<tr>
			<td>$ht.serviceRank</td>
			<td class="t_left">$ht.univName</td>
			<td>$ht.hitsCnt</td>
			<td>$ht.hitsRate%</td>
		</tr>
		#end
		
		#set($cnt = $hitsList.size() + 1)
		#if($cnt < 15)
		#foreach($blank in [$cnt..15])
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		#end
		#end
	</tbody>
</table><!-- list_type01 End -->
<script>
	#if($hitsList)
		setRecordCnt($!totalCnt); 
	#end
</script>

