<head>
	<title>학과 내비게이션</title>
	<link rel="stylesheet" type="text/css" href="/home/css/course.css" />
	<script type="text/javascript" language="javascript">
	
	$(document).ready(function() {
		//search();
    });
    function viewDetail(title)
	{
		
		
		//필요 변수 셋팅
		$("#text").val(title);
		$("#deptId").val("00830");
		$("#univId").val("34");
		
		//onsubmit 속성을 비워주어야 submit이 된다.
		$("#form").attr("method","post");
		$("#form").attr("onsubmit","");
		$("#form").attr("action","/home/course/courseSearch3View.sub2.action?gnb=41");
		$("#form").submit();
		
	}
    	//유사강의검색
	function viewDetail2(courseId, title)
	{
	
		//필요 변수 셋팅
		$("#text").val(title);
		$("#hidetext").val(title);
		$("#courseId").val(courseId);
		$("#deptId").val("");
		
		//onsubmit 속성을 비워주어야 submit이 된다.
		$("#form").attr("method","post");
		$("#form").attr("onsubmit","");
		$("#form").attr("action","/home/course/courseSearch2.sub2.action?gnb=41&pageType=1&checkbox3=2");
		$("#form").submit();
		
	}
	</script>
</head>
	
<body id="intro">

	<p class="location">
		<a href="">홈</a> <span>&gt;</span> <a href="">학과/교과과정</a> <span>&gt;</span> <a href="">교과과정 보기</a> 
	</p>
	<h3><img src="/home/images/title/h3_sub_view.gif" alt="교과과정 보기"></h3>
		
	
	<div class="contentWrap">
		<!--s:컨텐츠영역-->
			
			<div class="path_major">
				<a>경희사이버대학원</a><span>&gt;</span>
				<a>문화창조대학원</a><span>&gt;</span>
				<a>미디어문예창작</a>
				<a target="_blank" href="http://grad.khcu.ac.kr/grad/contents.jsp?m=21111&SITE_GRP=GRAD&lnb=3" class="btn_info_major"><img src="/home/images/btn/btn_info_major.gif" alt="학과안내 페이지 바로가기"></a>
																																																																																																												</div>
			
			<div id="list" class="univ_table m_l0">
				<table cellspacing="0" cellpadding="0" summary="교과과정 보기"><!-- table_type1 st01 Start -->
				<caption>교과과정 보기</caption>
				<colgroup>
					<col width="20%">
					<col width="40%">
					<col width="20%">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">학기</th>
						<th scope="col">교과목명</th>
						<th scope="col">학점</th>
					</tr>
				</thead>
				<tbody>
					<tr class="line02">
						<th class="line02" rowspan="4">1</th>
						<td class="t_left line02">
							<a href="javascript:viewDetail('시창작 온라인 실습');"><p>시창작 온라인 실습</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','시창작 온라인 실습');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('디지털미디어와 하이퍼텍스트');"><p>디지털미디어와 하이퍼텍스트</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','디지털미디어와 하이퍼텍스트');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
																								
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('한국문학 깊이 읽기');"><p>한국문학 깊이 읽기</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','한국문학 깊이 읽기');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line01">
						<td class="t_left line02">
							<a href="javascript:viewDetail('현대작가 특강');"><p>현대작가 특강</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','현대작가 특강');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					
					
					
					<tr class="line02">
						<th class="line02" rowspan="8">2</th>
						<td class="t_left line02">
							<a href="javascript:viewDetail('현대시인 특강');"><p>현대시인 특강</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','현대시인 특강');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('디지털 스토리텔링 세미나');"><p>디지털 스토리텔링 세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','디지털 스토리텔링 세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
																								
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('다문화 문학특강');"><p>다문화 문학특강</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','다문화 문학특강');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line02">
						<td class="t_left line02">
							<a href="javascript:viewDetail('탈식민주의문학론');"><p>탈식민주의문학론</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','탈식민주의문학론');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line02">
						<td class="t_left line02">
							<a href="javascript:viewDetail('현대시론');"><p>현대시론</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','현대시론');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('문학치료세미나');"><p>문학치료세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','문학치료세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
																								
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('한국현대소설사');"><p>한국현대소설사</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','한국현대소설사');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line01">
						<td class="t_left line02">
							<a href="javascript:viewDetail('소설창작 온라인 실습');"><p>소설창작 온라인 실습</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','소설창작 온라인 실습');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					
					
					
					<tr class="line02">
						<th class="line02" rowspan="6">3</th>
						<td class="t_left line02">
							<a href="javascript:viewDetail('현대시 산책');"><p>현대시 산책</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','현대시 산책');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('현대소설 깊이 읽기');"><p>현대소설 깊이 읽기</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','현대소설 깊이 읽기');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
																								
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('아동문학 세미나');"><p>아동문학 세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','아동문학 세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('오늘의 세계문학');"><p>오늘의 세계문학</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','오늘의 세계문학');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('한국문학의 정신사');"><p>한국문학의 정신사</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','한국문학의 정신사');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line01">
						<td class="t_left line02">
							<a href="javascript:viewDetail('정신분석이론특강');"><p>정신분석이론특강</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','정신분석이론특강');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					
					
					
					
					<tr class="line02">
						<th class="line02" rowspan="5">4</th>
						<td class="t_left line02">
							<a href="javascript:viewDetail('드라마 이론 및 창작 연습');"><p>드라마 이론 및 창작 연습</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','드라마 이론 및 창작 연습');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('시나리오 이론 및 창작연습');"><p>시나리오 이론 및 창작연습</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','시나리오 이론 및 창작연습');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
																								
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('지구시민 문학론');"><p>지구시민 문학론</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','지구시민 문학론');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('고전서사와 문화콘텐츠');"><p>고전서사와 문화콘텐츠</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','고전서사와 문화콘텐츠');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line01">
						<td class="t_left line02">
							<a href="javascript:viewDetail('e-독서논술 세미나');"><p>e-독서논술 세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','e-독서논술 세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					
					
					<tr class="line01">
						<th class="line02">5</th>
						<td class="t_left line02" colspan="2">
							<p>졸업논문 또는 학위논문 대체(졸업작품 발표)</p>
						</td>
					</tr>
				</tbody>
				</table>	
			</div>
			
			<p class="m_b5"><img src="/home/images/course/txt_info_search.gif" alt="전체 사이버대학을 대상으로 유사강의 검색"></p>
			<br>
			
		<!--e:컨텐츠영역-->
	</div>

	
	<form class="search_box01" id="form" name="form" action="#" onsubmit="try{search();}catch(e){alert(e);}return false;"><!-- box_type01 Start -->
        <input type="hidden" id="courseId" name="courseId" />
        <input type="hidden" id="hidetext" name="hidetext" />
        <input type="hidden" id="text" name="text" />
        <input type="hidden" id="deptId" name="deptId" value="" />
        <input type="hidden" id="univId" name="univId" value="" />
	</form>

	<div class="page_num">
		<div id="pg" name="pg"></div>
	</div>

</body>
</html>