<head>
	<title>학과 내비게이션</title>
	<link rel="stylesheet" type="text/css" href="/home/css/course.css" />
	<script type="text/javascript" language="javascript">
	
	$(document).ready(function() {
		//search();
    });
    function viewDetail(title)
	{
		
		
		//필요 변수 셋팅
		$("#text").val(title);
		$("#deptId").val("AG");
		$("#univId").val("41");
		
		//onsubmit 속성을 비워주어야 submit이 된다.
		$("#form").attr("method","post");
		$("#form").attr("onsubmit","");
		$("#form").attr("action","/home/course/courseSearch3View.sub2.action?gnb=41");
		$("#form").submit();
		
	}
    	//유사강의검색
	function viewDetail2(courseId, title)
	{
	
		//필요 변수 셋팅
		$("#text").val(title);
		$("#hidetext").val(title);
		$("#courseId").val(courseId);
		$("#deptId").val("");
		
		//onsubmit 속성을 비워주어야 submit이 된다.
		$("#form").attr("method","post");
		$("#form").attr("onsubmit","");
		$("#form").attr("action","/home/course/courseSearch2.sub2.action?gnb=41&pageType=1&checkbox3=2");
		$("#form").submit();
		
	}
	</script>
</head>
	
<body id="intro">

	<p class="location">
		<a href="">홈</a> <span>&gt;</span> <a href="">학과/교과과정</a> <span>&gt;</span> <a href="">교과과정 보기</a> 
	</p>
	<h3><img src="/home/images/title/h3_sub_view.gif" alt="교과과정 보기"></h3>
		
	
	<div class="contentWrap">
		<!--s:컨텐츠영역-->
			
			<div class="path_major">
				<a>부산디지털대학원</a><span>&gt;</span>
				<a>휴먼서비스대학원</a><span>&gt;</span>
				<a>상담심리학과</a>
				<a target="_blank" href="http://grad.bdu.ac.kr/grad/Contents.do?mCode=MN0048" class="btn_info_major"><img src="/home/images/btn/btn_info_major.gif" alt="학과안내 페이지 바로가기"></a>
																																																																																																												</div>
			
			<div id="list" class="univ_table m_l0">
				<table cellspacing="0" cellpadding="0" summary="교과과정 보기"><!-- table_type1 st01 Start -->
				<caption>교과과정 보기</caption>
				<colgroup>
					<col width="20%">
					<col width="40%">
					<col width="20%">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">학기</th>
						<th scope="col">교과목명</th>
						<th scope="col">학점</th>
					</tr>
				</thead>
				<tbody>
					<tr class="line02">
						<th class="line02" rowspan="5">1</th>
						<td class="t_left line02">
							<a href="javascript:viewDetail('고급성격심리');"><p>고급성격심리</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','고급성격심리');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('고급학습심리');"><p>고급학습심리</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','고급학습심리');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>																			
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('고급이상심리');"><p>고급이상심리</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','고급이상심리');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('행동수정');"><p>행동수정</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','행동수정');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line01">
						<td class="t_left line02">
							<a href="javascript:viewDetail('아동청소년상담');"><p>아동청소년상담</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','아동청소년상담');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					
					<tr class="line02">
						<th class="line02" rowspan="6">2</th>
						<td class="t_left line02">
							<a href="javascript:viewDetail('상담심리세미나');"><p>상담심리세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','상담심리세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('학교상담');"><p>학교상담</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','학교상담');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>																			
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('고급가족상담 및 치료');"><p>고급가족상담 및 치료</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','고급가족상담 및 치료');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('학교심리');"><p>학교심리</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','학교심리');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('아동청소년발달심리');"><p>아동청소년발달심리</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','아동청소년발달심리');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line01">
						<td class="t_left line02">
							<a href="javascript:viewDetail('중독상담');"><p>중독상담</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','중독상담');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					
					<tr class="line02">
						<th class="line02" rowspan="6">3</th>
						<td class="t_left line02">
							<a href="javascript:viewDetail('연구방법 및 통계');"><p>연구방법 및 통계</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','연구방법 및 통계');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('임상심리세미나');"><p>임상심리세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','임상심리세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>																			
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('진로상담세미나');"><p>진로상담세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','진로상담세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('청소년리더십');"><p>청소년리더십</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','청소년리더십');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('상담수퍼비젼');"><p>상담수퍼비젼</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','상담수퍼비젼');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line01">
						<td class="t_left line02">
							<a href="javascript:viewDetail('부모교육세미나');"><p>부모교육세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','부모교육세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					
					
					<tr class="line02">
						<th class="line02" rowspan="6">4</th>
						<td class="t_left line02">
							<a href="javascript:viewDetail('심리검사세미나');"><p>심리검사세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','심리검사세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('집단상담세미나');"><p>집단상담세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','집단상담세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('위기상담');"><p>위기상담</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','위기상담');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>																			
					
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('학교상담프로그램개발');"><p>학교상담프로그램개발</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','학교상담프로그램개발');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr>
						<td class="t_left line02">
							<a href="javascript:viewDetail('상담실습');"><p>상담실습</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','상담실습');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					<tr class="line01">
						<td class="t_left line02">
							<a href="javascript:viewDetail('기독교상담세미나');"><p>기독교상담세미나</p></a>
						</td>
						<td>
							<a href="javascript:viewDetail2('','기독교상담세미나');"><img src="/home/images/btn/btn_reading_glasses.gif" alt="돋보기"></a> 3
						</td>
					</tr>
					
					<tr class="line02">
						<th class="line02">5</th>
						<td class="t_left line02" colspan="2">
							<p>논문연구 또는 논문대체과목(6학점) 중 선택하여 이수</p>
						</td>
					</tr>
					
				</tbody>
				</table>	
			</div>
			
			<p class="m_b5"><img src="/home/images/course/txt_info_search.gif" alt="전체 사이버대학을 대상으로 유사강의 검색"></p>
			<br>
			
		<!--e:컨텐츠영역-->
	</div>

	
	<form class="search_box01" id="form" name="form" action="#" onsubmit="try{search();}catch(e){alert(e);}return false;"><!-- box_type01 Start -->
        <input type="hidden" id="courseId" name="courseId" />
        <input type="hidden" id="hidetext" name="hidetext" />
        <input type="hidden" id="text" name="text" />
        <input type="hidden" id="deptId" name="deptId" value="" />
        <input type="hidden" id="univId" name="univId" value="" />
	</form>

	<div class="page_num">
		<div id="pg" name="pg"></div>
	</div>

</body>
</html>