
<table cellspacing="0" cellpadding="0" class="list_type01" summary="과정관리"><!-- list_type01 Start -->
	<caption>과정관리</caption>
	<colgroup>
		<col width="5%" />
		<col width="20%" />
		<col width="25%" />
		<col width="*%" />
		<col width="12%" />
		<col width="12%" />
		<col width="12%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">NO</th>
			<th scope="col">학교명</th>
			<th scope="col">기관URL</th>
			<th scope="col">관리자명</th>
			<th scope="col">운영여부</th>
			<th scope="col">자동이관</th>
			<th scope="col">수정일시</th>
		</tr>
	</thead>
	<tbody>
		#foreach($dp in $dataProviderList)
		<tr>
			<td>$!dp.rowNum</td>
			<td><a href="javascript:modify('$!dp.universityId');">$!dp.universityName</a></td>
			<td>$!dp.getDpUrl(23, '...')</td>
			<td>$!dp.adminName</td>
			<td>$!dp.useYn</td>
			<td>$!dp.autoYn</td>
			<td>$dateformatter.print($!dp.dpModdate, $!locale)</td>
		</tr>
		#end
		
		#set($cnt = $dataProviderList.size() + 1)
		#if($cnt < $showCnt)
		#foreach($blank in [$cnt..$showCnt])
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		#end
		#end
	</tbody>
</table><!-- list_type01 End -->

<script>
	#if($dataProviderList)
	setRecordCnt($totalCnt, $currPage, $totalPage, $showCnt);
	#end
</script>