<head>
	<title>생산기관정보등록</title>
	<script type="text/javascript" language="javascript">
	function save()
	{
		jQuery.post('dpServer_save.json', 
				$("#writeForm").formSerialize(), 
				function(data) {
        			if(data.errors == true)
        			{
        				eval(data.message);
        			}
        			else
        			{
						opener.search();
						window.close();
        			}
		});
	}
	
	function searchUniversity()
	{
		showWin('/mgr/system/univCodeSearch.pop.action', 'writewin', 800, 450);
	}
	function setUniversity(universityId, universityName)
	{
		$("#universityId").val(universityId);
		$("#universityName").val(universityName);
	}
	
	function setUploadResult(originalFilename, srcName, fileSize)
	{
        $("#uploadTB").append('<tr id=\''+srcName+'\'><td><a href="javascript:download(\''+srcName+'\');">'+originalFilename+'</a></td><td>'+getFileSize(fileSize)+'</td><td><a href="javascript:delRow(\''+srcName+'\');">삭제</a></td></tr>'); 
	}
	function delRow(trId)
	{
		$("#uploadTB").find("tr[id^="+trId+"]").remove();
		
		jQuery.post('/mgr/common/file_delete.json?srcName=' + trId, 
				function(data) {
        			if(data.errors == true)
        				eval(data.message);
		});
	}
	function download(srcName)
	{
		document.location.href = '/mgr/common/file_download.json?srcName=' + srcName;
	}

	</script>
</head>
<body>
<div style="width:90%;padding-left:30px;padding-top:30px;">
<form id="writeForm" action="#" onsubmit="try{write();}catch(e){alert(e);}return false;">
<h2>생산기관 정보 등록</h2>	
<table cellspacing="0" cellpadding="0" class="form_type01" summary="생산기관관리"><!-- list_type01 Start -->
	<caption>생산기관관리</caption>
	<colgroup>
		<col width="15%" />
		<col width="35%" />
		<col width="15%" />
		<col width="35%" />
	</colgroup>
	<tbody>
		<tr>
			<th scope="row">학교명</th>
			<input type="hidden" name="universityId" id="universityId"/>
			<td><input type="text" size="20" title="학교명" name="universityName" id="universityName" onchange="if(this.value == '')$('#universityId').val('');"/> <a href="javascript:searchUniversity()"><img src="/mgr/images/btn/btn_seluniv.gif" alt="대학 선택"/></a></td>
			<th scope="row">생산기관명</th>
			<td><input type="text" size="30" maxlength="15" title="생산기관명" name="dpName" id="dpName"/></td>
		</tr>
		<tr>
			<th scope="row">URL</th>
			<td colspan ="3"><input type="text" size="60" maxlength="100" title="URL" name="dpUrl" id="dpUrl"/></td>
		</tr>
		<tr>
			<th scope="row">운영여부</th>
			<td>
				<label for="radio-1"><input type="radio" name="useYn" id="useYn" value="Y" /> 수집</label>
				<label for="radio-2"><input type="radio" name="useYn" id="useYn" value="N" checked /> 수집하지않음</label>
			</td>
			<th scope="row">자동이관</th>
			<td>
				<label for="radio-1"><input type="radio" name="autoYn" id="autoYn" value="N" checked/>수동이관</label>
				<label for="radio-2"><input type="radio" name="autoYn" id="autoYn" value="Y" />자동이관</label>
			</td>
		</tr>
		<tr>
			<th scope="row">관리자명</th>
			<td colspan ="3"><input type="text" size="30" maxlength="15" id="adminName" name="adminName" title="관리자명"/></td>
		</tr>
		<tr>
			<th scope="row">관리자이메일</th>
			<td colspan ="3"><input type="text" size="30" maxlength="130" id="adminEmail" name="adminEmail" title="관리자이메일"/></td>
		</tr>
		<!--tr>
			<th scope="row">파일선택</th>
			<td colspan ="3">
				<table id="uploadTB" border="1" width="400">
				</table>
				<iframe id="upload" name="upload" src="/mgr/common/file_write.ifm.action?eventHandler=setUploadResult" width="100%" height="25" frameborder="0" scrolling="no" style="padding: 0;margin: 0"></iframe>
			</td>
		</tr-->
	</tbody>
</table><!-- list_type01 End -->


<div class="btn_box_type03">
	<a href="javascript:save();"><img src="/mgr/images/btn/save.gif" alt="저장" /></a>
	<a href="javascript:window.close();"><img src="/mgr/images/btn/cancel.gif" alt="취소" /></a>
</div>

</form>
</div>
</body>
</html>