<head>
	<title>관리자정보관리</title>
	<script type="text/javascript" language="javascript">
	function search()
	{
		goPage(1);
	}
	
	function setRecordCnt(totalCnt, currPage, totalPage, showCnt)
	{
		$("#tCnt").text(totalCnt);
		$("#cPage").text(currPage);
		$("#tPage").text(totalPage);
		
		setPaging($("#pg"), totalCnt, showCnt, currPage);
	}
	
	function goPage(page)
	{
		if(typeof(page) != "undefined")
			$("#currPage").val(page);
		
		jQuery.post('admin_list.ajax.action', 
				$("#searchForm").formSerialize(), 
				function(data) {
        			$("#list").html(data);
		});
	}

	
	function modify(adminId)
	{
		showWin('/mgr/system/admin_modify.pop.action?adminId=' + adminId, 'admmodify', 800, 650);
	}
	
	function reg()
	{
		showWin('/mgr/system/admin_write.pop.action', 'admwrite', 800, 620);
	}
	
	function clsText(index){
	
		if(index == 1){
			$("#adminIdName").val("");
		}
	}
	
	$(document).ready(function() {
		search();
    });
	</script>
</head>

<body>
		
	<!-- MainCopyBox  Start (페이지별 location 정보 표시.)-->
	<div id="location_box">
		<h3><img src="/mgr/images/system/title4.gif" alt="관리자정보관리" /></h3>
		<ul class="location">
			<li><a href="/mgr/main.sub.action">Home</a></li>
			<li><a href="/mgr/system/notice.sub.action?gnb=55">시스템관리</a></li>
			<li>관리자정보관리</li>
		</ul>
	</div>
	<!-- MainCopyBox  End -->
<form class="search_box01" id="searchForm" name="searchForm" action="#" onsubmit="try{search();}catch(e){alert(e);}return false;"><!-- box_type01 Start -->
<input type="hidden" id="showCnt" name="showCnt" value="15"/>
<input type="hidden" id="currPage" name="currPage" value="1"/>

	<fieldset class="inner">
		<table cellspacing="0" cellpadding="0" summary="관리자정보 검색" class="border_none_table">
			<caption>관리자정보 검색</caption>
			<colgroup>
				<col width="40%"/>
				<col width="*%"/>
			</colgroup>
			<tbody>
				<tr>
					<td>
						<label for="selet">권한그룹</label>
    					<select	id="authLevelId" name="authLevelId">
    						<option value="0">전체</option>
    						#foreach($code in $codeList)
    						<option value="$!code.codeId">$!code.codeName</option>
    						#end
    					</select>
					</td>
					<td>
						<label for="radio-1"><input type="radio" name="radioAdmin" id="radio-1" value="A" onclick="clsText(1)" checked/> 이름</label>
						<label for="radio-2"><input type="radio" name="radioAdmin" id="radio-2" value="B" onclick="clsText(1)"/> 아이디</label>
						<label for="radio-3"><input type="radio" name="radioAdmin" id="radio-3" value="C" onclick="clsText(1)"/> 소속</label>
						<input type="text" id="adminIdName" name="adminIdName" size="10" title="" /> 
						<a><input type="image" style="width:52px;height:21px;border:0px;" src="/mgr/images/btn/search.gif" alt="검색" /></a>
					</td>	
				</tr>
			</tbody>
		</table>
	</fieldset>
</form><!-- box_type01 End -->

<div class="list_top01">
	<span>아이디 클릭 시 관리페이지로 이동합니다.</span>
	<span class="f_right">total : <em id="tCnt">00</em>건(<em id="cPage">1</em>/<em id="tPage">10</em>page)</span>
</div>


<div id="list">#parse('mgr/system/admin_list.vm')</div>



<div class="page_num">
	<div id="pg" name="pg"></div>
	<a class="f_right" href="javascript:reg();"><img src="/mgr/images/btn/admin.gif" alt="등록" /></a>
</div>


</body>
</html>