
<table cellspacing="0" cellpadding="0" class="list_type01" summary="대학교관리"><!-- list_type01 Start -->
	<caption>대학교관리</caption>
	<colgroup>
		<col width="5%" />
		<col width="15%" />
		<col width="10%" />
		<col width="30%" />
		<col width="20%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">NO</th>
			<th scope="col">학교명</th>
			<th scope="col">학교구분</th>
			<th scope="col">주소</th>
			<th scope="col">홈페이지</th>
		</tr>
	</thead>
	<tbody>
		#foreach($univ in $univCodeList)
		<tr>
			<td>$!univ.rowNum</td>
			<td><a href="javascript:select_($!univ.universityId, '$!univ.univName');">$!univ.univName</a></td>
			<td>$!univ.gubunName</td>
			<td style="text-align:left;">$!univ.univAddress</td>
			<td style="text-align:left;">$!univ.univHomepage</td>
		</tr>
		#end
		
		#set($cnt = $univCodeList.size() + 1)
		#if($cnt < $showCnt)
		#foreach($blank in [$cnt..$showCnt])
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		#end
		#end
	</tbody>
</table><!-- list_type01 End -->

<script>
	#if($univCodeList)
	setRecordCnt($totalCnt, $currPage, $totalPage, $showCnt);
	#end
</script>