<head>
	<title>학교코드관리</title>
	<script type="text/javascript" language="javascript">
	function search()
	{
		goPage(1);
	}
	
	function setRecordCnt(totalCnt, currPage, totalPage, showCnt)
	{
		$("#tCnt").text(totalCnt);
		$("#cPage").text(currPage);
		$("#tPage").text(totalPage);
		
		setPaging($("#pg"), totalCnt, showCnt, currPage);
	}
	
	function goPage(page)
	{
		$("#currPage").val(page);
		
		jQuery.post('univCode_list.ajax.action', 
				$("#searchForm").formSerialize(), 
				function(data) {
        			$("#list").html(data);
		});
	}
	
	function modify(universityId)
	{
		showWin('/mgr/system/univCode_modify.pop.action?universityId=' + universityId, 'modwin', 800, 400);
	}
	
	function reg()
	{
		showWin('/mgr/system/univCode_write.pop.action', 'regwin', 800, 400);
	}
	

	$(document).ready(function() {
		search();
    });
	</script>
</head>
<body>
	<!-- MainCopyBox  Start (페이지별 location 정보 표시.)-->
	<div id="location_box">
		<h3><img src="/mgr/images/system/title3.gif" alt="대학행사안내" /></h3>
		<ul class="location">
			<li><a href="/mgr/main.sub.action">Home</a></li>
			<li><a href="/mgr/system/code.sub.action?gnb=51">시스템관리</a></li>
			<li>학교코드관리</li>
		</ul>
	</div>
	<!-- MainCopyBox  End -->
	
	
<form class="search_box01" id="searchForm" name="searchForm" action="#" onsubmit="try{search();}catch(e){alert(e);}return false;"><!-- box_type01 Start -->
<input type="hidden" id="showCnt" name="showCnt" value="10"/>
<input type="hidden" id="currPage" name="currPage" value="1"/>
	<fieldset class="inner">
		<table cellspacing="0" cellpadding="0" summary="게시물 검색" class="border_none_table">
			<caption>게시물  검색</caption>
			<colgroup>
				<col width="45%"/>
				<col width="*%"/>
			</colgroup>
			<tbody>
				<tr>
					<td>
						<label for="select-1">학교구분</label>
						<select	id="gubunId" name="gubunId">
							<option value="0">전체</option>
							#foreach($code in $codeList)
							<option value="$!code.codeId">$!code.codeName</option>
							#end
						</select>
					</td>
					<td>
						<label for="select-1">소재지</label>
						<select	id="localId" name="localId">
							<option value="0">전체</option>
							#foreach($code in $codeList2)
							<option value="$!code.codeId">$!code.codeName</option>
							#end
						</select>						
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="radio" name="selectRadio1" value="1" checked >&nbsp;학교명
						<input type="radio" name="selectRadio1" value="2">&nbsp;학교코드
						<input type="radio" name="selectRadio1" value="3">&nbsp;대학알리미 코드
						<input type="text" id="searchWord" name="searchWord" size="10" title="검색어(제목/내용) 입력"/> 
						<a><input type="image" style="width:52px;height:21px;border:0px;" src="/mgr/images/btn/search.gif" alt="검색" /></a>
					</td>		
				</tr>
			</tbody>
		</table>
	</fieldset>
</form><!-- box_type01 End -->


<div class="list_top01">
	<span>대학알리미 코드의 경우 종합정보현황에서 알리미 사이트와 연동되는 코드 값입니다.</span>
	<span class="f_right">total : <em id="tCnt">00</em>건(<em id="cPage">1</em>/<em id="tPage">10</em>page)</span>
</div>

<div id="list">#parse('mgr/system/univCode_list.vm')</div>

<div class="page_num">
	<div id="pg" name="pg"></div>
	<a class="f_right" href="javascript:reg();"><img src="/mgr/images/btn/enter.gif" alt="등록" /></a>
</div>

</body>
</html>
	