<head>
	<title>학위취득/국가자격증</title>
	<script type="text/javascript">
		
		$(document).ready(function(){
			//alert('$gnb');
		});
		
		function viewCourseList(text) {
			##필요 변수 셋팅
			$("#text").val(text);
			
			##onsubmit 속성을 비워주어야 submit이 된다.
			$("#form").attr("method","post");
			$("#form").attr("onsubmit","");
			$("#form").attr("action","/home/intro/certificate_subjectInfo.sub.action?gnb=$gnb");
			$("#form").submit();
		}
		
		function showMore(){
			$("#moreBtn").toggle();
			$("#closeBtn").toggle();
			$("#before2010").toggle("fast");
		}
	</script>
</head>
<body>
	
<form method="post" id="form" name="form" action="#">
	<input type="hidden" id="text" 		name="text" 	value="">
	<input type="hidden" id="showCnt" 	name="showCnt" 	value="10"/>
	<input type="hidden" id="currPage" 	name="currPage"	value="1"/>
</form>

<p class="location">
	<a href="/home/index.main.action">홈</a> <span>></span> <a href="/home/intro/summary.sub.action?gnb=11">사이버대학 안내</a> <span>></span> <a href="/home/intro/certificate1.sub.action?gnb=13">학위취득/국가자격증</a> 
</p>
<h3><img src="/home/images/intro/title5_01.gif" alt="사회복지학 개론" /></h3>

<div class="feature t_center"><img src="/home/images/intro/intro_title1.gif" alt="사획복지사란? 다양한 사회적, 개인적 문제를 겪는 사람들에게 사회복지학 및 사회과학의 전문지식을 이용하여 문제를 진단ㆍ평가함으로써 문제해결을 돕고 지원하는 업무를 담당하는 전문가입니다."/></div>
	<dl class="feature">
		<dt><img src="/home/images/intro/certificate_stext1.gif" alt="사회복지사" /></dt>
		<dd>사회복지사업법 시행령 제6조 제1항에서는 다음의 업무를 수행하는 자를 사회복지사로 채용하도록 규정하고 있다.<br/>
			<span>- 사회복지프로그램의 개발 및 운영</span><br/>
			<span>- 시설 거주자의 생활지도 업무</span><br/>
			<span>- 사회복지를 필요로 하는 자에 대한 상담업무</span><br/>
		</dd>
	</dl>

	<dl class="feature">
		<dt><img src="/home/images/intro/certificate_stext2.gif"  alt="자격기준 "/></dt>
		<dd><span class="bold">사회복지사2급</span><br/>
			<span>- 사회복지학부 졸업 후 한국사회복지사협회 각 지방협회에 (개별접수) 구비서류 제출 시 취득<br />(필수 10과목, 선택과목 중 4과목, 총 14과목 이수자)  </span>
		</dd>
		<dd><span class="bold">사회복지사 1급</span> <br/>
			- 학위 및 2급 자격증 취득(또는 학위 및 2급 자격증 취득 예정자) 후 국가시험 합격 시 취득<br />(매년 말 시험공지 및 접수 / 매년 1월~2월 시험)</dd>
	 </dl>
		
<div class="contentWrap">
	<dl class="feature">
		<dt><img src="/home/images/intro/certificate_stext3.gif" alt="사회복지사 교과과정 "></dt> 

		<dd class="dot_a">2010년 이후 입학생</dd>
		<dd class="no dot_b">(과목 클릭 시 교과과정 보기로 이동됩니다.)</dd>    
		<dd class="no univ_table1 m_l20">
			<table cellspacing="0" cellpadding="0" summary="과정관리"><!-- table_type1 st01 Start -->
				<caption>과정관리</caption>
				<colgroup>
					<col width="15%">
					<col width="*">
					<col width="18%">
					<col width="18%">
				</colgroup>
				<thead>
					<tr>
						<th scope="row" rowspan="2">구분</th>
						<th scope="row" rowspan="2">교과목</th>
						<th scope="col" colspan="2">이수과목</th>
					</tr>
				  	<tr>
						<th scope="col">대학원</th>
						<th scope="col">대학·전문대학</th>
				  	</tr>
				</thead>
				<tbody>
					<tr>
						<th>필수과목</th>
						<td><a href="javascript:viewCourseList('사회복지개론')">사회복지개론</a>, 
						<a href="javascript:viewCourseList('인간행동과 사회환경')">인간행동과 사회환경</a>, 
						<a href="javascript:viewCourseList('사회복지정책론')">사회복지정책론</a>, <br/> 
						<a href="javascript:viewCourseList('사회복지법제')">사회복지법제</a>, 
						<a href="javascript:viewCourseList('사회복지실천론')">사회복지실천론</a>, 
						<a href="javascript:viewCourseList('사회복지실천기술론')">사회복지실천기술론</a>,<br/> 
						<a href="javascript:viewCourseList('사회복지조사론')">사회복지조사론</a>, 
						<a href="javascript:viewCourseList('사회복지행정론')">사회복지행정론</a>, 
						<a href="javascript:viewCourseList('지역사회복지론')">지역사회복지론</a>, 
						<a href="javascript:viewCourseList('사회복지현장실습')"><br/>사회복지현장실습</a></td>
						<td>6과목 18학점<br/> (과목당 3학점)<br/>이상</td>
						<td>10과목 30학점<br/> (과목당 3학점)<br/>이상</td>
					</tr>
					<tr>
						<th>선택과목
						</th><td><a href="javascript:viewCourseList('아동복지론')">아동복지론</a>, 
						<a href="javascript:viewCourseList('청소년 복지론')">청소년 복지론</a>, 
						<a href="javascript:viewCourseList('노인복지론')">노인복지론</a>, 
						<a href="javascript:viewCourseList('장애인복지론')">장애인복지론</a>,<br/> 
						<a href="javascript:viewCourseList('여성복지론')">여성복지론</a>, 
						<a href="javascript:viewCourseList('가족복지론')">가족복지론</a>, 
						<a href="javascript:viewCourseList('산업복지론')">산업복지론</a>, 
						<a href="javascript:viewCourseList('의료사회사업론')">의료사회사업론</a>,<br/> 
						<a href="javascript:viewCourseList('학교사회사업론')">학교사회사업론</a>, 
						<a href="javascript:viewCourseList('정신건강론')">정신건강론</a>, 
						<a href="javascript:viewCourseList('교정복지론')">교정복지론</a>, 
						<a href="javascript:viewCourseList('사회보장론')">사회보장론</a>, <br/>
						<a href="javascript:viewCourseList('사회문제론')">사회문제론</a>, 
						<a href="javascript:viewCourseList('자원봉사론')">자원봉사론</a>, 
						<a href="javascript:viewCourseList('정신보건사회복지론')">정신보건사회복지론</a>,<br/>
						<a href="javascript:viewCourseList('사회복지지도감독론')">사회복지 지도감독론</a>, 
						<a href="javascript:viewCourseList('사회복지자료분석론')">사회복지자료분석론</a>,<br/>
						<a href="javascript:viewCourseList('프로그램개발과 평가')">프로그램개발과 평가</a>,
						<a href="javascript:viewCourseList('사회복지발달사')">사회복지발달사</a>,<br/>
						<a href="javascript:viewCourseList('사회복지윤리와 철학')">사회복지윤리와 철학</a> </td>
						<td>2과목 6학점 <br/>(과목당 3학점<br/>이상</td>
						<td>4과목 12학점 <br/>(과목당 3학점)<br/>이상</td>
					</tr>
				</tbody>
			</table>
			<span>근거 : 사회복지사업법시행규칙 부칙 제1조 (제73호, 2008.11.5)</span></dd>
			
		<dd>2010년 이전 입학생
			<br/>
			
			<a id="moreBtn"  href="javascript:showMore();"><b style="color:#7289B3;text-decoration:underline;">자세히 보기 +</b></a></span>
			<a id="closeBtn" href="javascript:showMore();" style="display:none;"><b style="color:#7289B3;text-decoration:underline;">자세히 보기 -</b></a></span>
			
		</dd>     
		<dd class="no univ_table1 m_l20" style="display:none;" id="before2010">
			<table cellspacing="0" cellpadding="0" summary="과정관리"><!-- table_type1 st01 Start -->
				<caption>과정관리</caption>
				<colgroup>
					<col width="15%">
					<col width="*">
					<col width="25%">
				</colgroup>
				<thead>
					<tr>
						<th scope="col">구분</th>
						<th scope="col">내용</th>
						<th scope="col">이수과목</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>필수과목</th>
						<td>사회복지개론, 인간행동과 사회환경, 사회복지정책론, 사회복지법제,<br/> 사회복지실천론, 사회복지실천기술론, 사회복지조사론,<br/>사회복지행정론, 지역사회복지론, 사회복지현장실습</td>
						<td>10과목</td>
					</tr>
					<tr>
						<th>선택과목
						</th><td>아동복지론, 청소년 복지론, 노인복지론, 장애인복지론, 여성복지론,<br/> 가족복지론, 산업복지론, 의료사회사업론, 학교사회사업론,<br/>정신건강론, 교정복지론, 사회보장론, 사회문제론, 자원봉사론,<br/>정신보건사회복지론, 사회복지지도감독론, 사회복지자료분석론,<br/>프로그램개발과 평가, 사회복지발달사, 사회복지윤리와 철학</td>
						<td>4과목 이상 선택</td>
					 </tr>
				   </tbody>
			</table>
		</dd>
		</dl>
		<dl>
			<dd class="t_center"><img src="/home/images/intro/ex_box1.gif" alt="교과목의 명칭이 동일하지 아니하더라도 교과의 내용이 동일하다고 보건복지가족부장관이 인정하는 경우에는 같은 교과목으로 본다."></dd>
		</dl>
		<dl class="feature">
		<dt><img src="/home/images/intro/certificate_stext4.gif" alt="자격증 신청"></dt>
			<dd>한국사회복지사협회(<a href="http://www.welfare.net" target="_blank" onclick="dcsMultiTrack('DCS.dcssip','http://www.welfare.net','DCS.dcsuri','/','DCS.qry','','WT.ti','Offsite Link - welfare','WT.sp','welfare')">http://www.welfare.net</a>)</dd>
			<dd>TEL : 02-786-0845(한국사회복지사협회 자격검정팀)</dd>
		</dl>
</div> 
 
</body>
</html>