<head>
	<title>교육부지원사업</title>
	<script>
		$("#chkBtn").click(function(){
			alert('start');
		});
		function openCourseClose(){
			//alert($("div[id^=publicCourse]").hide());
			
			$("div[id^=publicCourse]").mouseleave(function(){
				$("div[id^=publicCourse]").hide("fast");
			});
		}	
		
		function openCourse(no){
			$("#publicCourse"+no).toggle('fast');
			$("#publicCourse"+no).find("tr").css("line-height","30px");
			$("#publicCourse"+no).find("a").css("line-height","30px");
			$("#publicCourse"+no).find("tr:not(.subject):even").find("td:eq(0)").css("background","#F6F6F6");
			$("#publicCourse"+no+" .subject").css("background","#FAF4DC");
			
			openCourseClose();
		}
		
		function popupUniv(url){
			
			window.open(url);
		}
		
	</script>
</head>
<body>
	<p class="location">
		<a href="/home/index.main.action">홈</a> <span>></span> <a href="/home/intro/summary.sub.action?gnb=11">사이버대학 안내</a> <span>></span> <a href="/home/intro/characterization.sub.action?gnb=16">교육부지원사업</a> 
	</p>
	<h3><img src="/home/images/title/title_54.gif" alt="특성화 사업 선정대학의 신설 및 개편 특성화 학과의 특징을 안내하여 드립니다. " /></h3>
	
	<div class="contentWrap">
		<!--s:컨텐츠영역-->
		<dl class="feature">
			<dt><img src="/home/images/intro/body_stitle1.gif"></dt>
##			<dd>특성화고 졸업자의 취업률이 급상승함에 따라 이들에게 일과 학습을 병행하는 선취업-후진학 생태계를 조성해 주고 나아가<br/>사이버대학의 경쟁력을 강화하기 위한 목적으로 추진한 사업이다. </dd>
##			<dd>사업을 신청한 사이버대학 중 기본역량 및 사업추진계획의 구체성과 합리성, 사업 내용의 독창성 등을 평가하여 <br/>2012년에는 총 4개 대학(고려사이버대, 대구사이버대, 영진사이버대, 서울사이버대)을, 2013년에는 총 3개 대학<br/>(경희사이버대, 원광디지털대, 한양사이버대)을 선정하였다.</dd>
			
			<dd>원격교육의 장점을 살리고 사이버대학의 역량 강화를 위해 ‘12년부터 이공계 관련학과 신설 및 교육과정 개편에 대한 재정지원</dd>
			<dd>사업 신청한 대학 중 우수한 평가를 받은 총 7개 대학 선정<br/>
			 - 2012년 선정대학 : 
			 <span style="cursor:pointer" onclick=popupUniv("http://www.cuk.edu");>고려사이버대,</span> 
			 <span style="cursor:pointer" onclick=popupUniv("http://www.dcu.ac.kr");>대구사이버대,</span> 
			 <span style="cursor:pointer" onclick=popupUniv("http://www.ycc.ac.kr");>영진사이버대,</span> 
			 <span style="cursor:pointer" onclick=popupUniv("http://www.iscu.ac.kr");>서울사이버대</span>
			 <br/>
			 - 2013년 선정대학 : 
			 <span style="cursor:pointer" onclick=popupUniv("http://www.khcu.ac.kr");>경희사이버대,</span>
			 <span style="cursor:pointer" onclick=popupUniv("http://www.wdu.ac.kr");>원광디지털대,</span> 
			 <span style="cursor:pointer" onclick=popupUniv("http://www.hycu.ac.kr");>한양사이버대,</span>
			 
			</dd>
			
		</dl>	
		
		##특성화사업 홍보 동영상
		<video id="video1" width="360" height="270" controls="controls" poster="/images/charact2013.jpg" style="margin:20px 0 20px 175px;border:0px solid;">
			<source src="http://210.102.100.235/cuinfo/charact2013.mp4" type="video/mp4">
				
			<div style="margin:20px 0 20px 175px;border:0px solid;">
				<div id="mediaplayer">JW Player goes here</div>
			</div>
			<script>
				jwplayer("mediaplayer").setup({
					flashplayer: "/home/mediaplayer/player.swf",
					file: "http://210.102.100.235/cuinfo/charact2013.mp4",
					autostart : false,
					image : "/images/charact2013.jpg",
					width :"260" ,
					height :"185"
				});
			</script>
		</video>
		
		<br/>
		<br/>
		
		<dl class="feature">
			<dt><img src="/home/images/intro/body_stitle6.gif"></dt>
		</dl>
		
		
		<div class="feature_list2  p_t30px">
			<dl>##고려 사이버대학교
				<dd><a href="#" class="faq_q_box"><img src="/home/images/new/refer_cyber_01.gif"></a>
					<div>
						<ul>
							<li class="p_l13 p_t10 t_right">
								<a id="chkBtn" href="javascript:openCourse(1);" style="float:right;"><img src="/home/images/btn/btn_navigation_course.gif"></a>
								<div id="publicCourse1" style="display: none; position: absolute; text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid; margin:30px 0 0 240px;width:405px; padding: 20px;">
									<table width="100%" cellpadding="1" cellspacing="1" border="1" style="padding: 0px;">
										<col width="80%" />
										<col width="*" />
										<tr class="subject">
											<td colspan="2" class="s"><b>&nbsp;○ 교과목 콘텐츠 개발(8과목)</b></td>
										</tr>
										<tr>
											<td>
												&nbsp;&nbsp;&nbsp;&nbsp;- 기초전자공학
											</td>
											<td rowspan="8" align="center" >2017년 공개</td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 멀티미디어공학</td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 공통수학</td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 디지털통신</td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 전자회로</td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 클라우드 컴퓨팅</td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 직업 진로설계</td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 사이버교육의 기초</td>
										</tr>
										<tr class="subject">
											<td colspan="2"><b>&nbsp;○ 실습콘텐츠(1종)</b></td>
										</tr>
										<tr>
											<td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;- 기초전자공학실험</td>
										</tr>
										<tr class="subject">
											<td colspan="2"><b>&nbsp;○ 특강 콘텐츠(6종)</b></td>
										</tr>
										<tr>
											<td colspan="2"><a href="/home/course/courseSearchView.sub.action?gnb=41&courseId=19225">- IT가 만들어가는 세상1(IT 서비스)</a></td>
										</tr>
										<tr>
											<td colspan="2"><a href="/home/course/courseSearchView.sub.action?gnb=41&courseId=19226">- IT가 만들어가는 세상2(프로젝트 관리)</a></td>
										</tr>
										<tr>
											<td colspan="2"><a href="/home/course/courseSearchView.sub.action?gnb=41&courseId=19227">- 한국어교육의 현황 및 한국어 교원자격증의 필요성</a></td>
										</tr>
										<tr>
											<td colspan="2"><a href="/home/course/courseSearchView.sub.action?gnb=41&courseId=19228">- 이영돈PD와 함께하는 탐사보도 즐겁게 이해하기1</a></td>
										</tr>
										<tr>
											<td colspan="2"><a href="/home/course/courseSearchView.sub.action?gnb=41&courseId=19229">- 이영돈PD와 함께하는 탐사보도 즐겁게 이해하기2</a></td>
										</tr>
										<tr>
											<td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;- 동아시아 중심시대의 문화 전망</td>
										</tr>
										
									</table>
								</div>
								
								<a href="http://www.cuk.edu/100264.do" target="_blank"><img src="/home/images/btn/btn_navigation_dept.gif"></a><br/>
							</li>
							<li class="p_l20 p_t5">
								○ 공업계열 특성화고 중 약 28.3%(295개교)를 차지하고 있는 전기·전자전공분야의 졸업 재직자를 대상으로 한 <b>전기전자공학과 
								<br/>&nbsp;&nbsp;&nbsp;&nbsp;(회로·통신·반도체, 제어트랙) 신설</b>함
								<br/>
								○ 동 학과는 기존 사이버대학이 경제성 등을 이유로 기피하였던 이공계학과실습교육 환경을 온라인에서 구현할 수 있도록 한 <br/>&nbsp;&nbsp;&nbsp;&nbsp;<b>실습시뮬레이션 소프트웨어 및 시뮬레이션 기반의 가상실험실(Virtual Lab)을 구축</b>함
							</li>
							<li class="p_l13 p_t10 t_center"><img src="/home/images/new/refer_cyber_01_img.gif"></li>
						</ul>
					</div>
					
					
				</dd> 
			</dl>
			<dl>
				<dd><a href="#" class="faq_q_box"><img src="/home/images/new/refer_cyber_02.gif"></a>		
					<div>
						<ul>
							##<li><span class="dot_a">대구사이버대학교</span></li>
							<li class="p_l13 p_t10 t_right">
								<a href="https://www.dcu.ac.kr/dept/eice_0100.htm" target="_blank"><img src="/home/images/btn/btn_navigation_dept.gif"></a><br/>
							</li>
							<li class="p_l20 p_t5">
								○ <b>지역 산업구조와 해당 사이버대학의 발전전략을 상생구조화</b>하고 이를 구체화한 <b>지역밀착형 사업</b><br/>
								○ <b>대구․경북지역의 공단</b>(전자정보, 통신, 기계, 전자부품 등 1,800여개 기업 집적), <b>전자와 정보통신분야의 강점이 있는 <br/>&nbsp;&nbsp;&nbsp;&nbsp;동일법인의 
									대구대학교와 협력클러스터를 맺고 지역의 풍부한 실험실습인프라(구미전자정보기술원 등)를 활용</b>하여 <b> 
									<br/>&nbsp;&nbsp;&nbsp;&nbsp;이들 지역에 취업된 마이스터고, 특성화고 졸업자들의 대학진학이 쉽도록 기존 컴퓨터공학과를 전자정보통신공학과로 
									<br/>&nbsp;&nbsp;&nbsp;&nbsp;개편</b>함
							</li>
							<li class="p_l13 p_t10 t_center"><img src="/home/images/new/refer_cyber_02_img.gif"></li>
						</ul>
					</div>
				</dd>
			</dl>
			<dl>##영진사이버대학
				<dd><a href="#" class="faq_q_box"><img src="/home/images/new/refer_cyber_03.gif"></a>		
					<div>
						<ul>
							<li class="p_l13 p_t10 t_right">
								<a id="chkBtn" href="javascript:openCourse(3);" style="float:right;"><img src="/home/images/btn/btn_navigation_course.gif"></a>
								<div id="publicCourse3" style="display: none; position: absolute; text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid; margin:30px 0 0 240px;width:405px; padding: 20px;">
									<table width="100%" cellpadding="1" cellspacing="1" border="1" style="padding: 0px;">
										<col width="80%" />
										<col width="*" />
										<tr class="subject">
											<td colspan="2"><b>&nbsp;○ 이론형 콘텐츠 개발(2과목 - 7종)</b></td>
										</tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 직장윤리와  인간관계</td>
											<td rowspan="5" align="center" >Pre-School 콘텐츠</td>
										</tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 성공적 업무성과 창출을 위한 자기관리</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 창의공학적 발상기법</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 정보통신 품질관리의 이해</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 텔레마케팅의 기초와 활용</td></tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 기초전자공학</a></td>
											<td rowspan="2" align="center" >2016년 공개<br/>이론형 콘텐츠</td>
										</tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 기초전자실습</td></tr>
									</table>
								</div>
								
								<a href="http://www.ycc.ac.kr/jsp/main/iwc_main/departments/dep_02_03.jsp" target="_blank"><img src="/home/images/btn/btn_navigation_dept.gif"></a><br/>
								
							</li>
							<li class="p_l20 p_t5">
							○ <b>마이스터고․특성화고 및 산업체를 연계하는 ‘2+취업약정형 주문식교육시스템*’을 운영하는 정보통신학과를 신설</b><br/>
							○ 이는 대학과 고등학교, 산업체와의 연계를 기반으로 취업약정을 맺고 특성화고교 등의 학생들이 고교 졸업 전 또는 졸업과<br/>&nbsp;&nbsp;&nbsp;&nbsp;함께 취업을 하게 되고 이와 병행하여 사이버대학에도 진학할 수 있도록 하는 방식
							</li>
							
							<li class="p_l13 p_t10 t_center"><img src="/home/images/new/refer_cyber_03_img.gif"></li>
						</ul> 
					</div>
				</dd>
			</dl>
			<dl>##서울사이버대학교
				<dd><a href="#" class="faq_q_box"><img src="/home/images/new/refer_cyber_04.gif"></a>		
					<div>
						<ul>
							<li class="p_l13 p_t10 t_right">
								<a id="chkBtn" href="javascript:openCourse(4);" style="float:right;"><img src="/home/images/btn/btn_navigation_course.gif"></a>
								<div id="publicCourse4" style="display: none; position: absolute; text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid; margin:30px 0 0 240px;width:405px; padding: 20px;">
									<table width="100%" cellpadding="1" cellspacing="1" border="1" style="padding: 0px;">
										<col width="80%" />
										<col width="*" />
										<tr class="subject"><td colspan="2"><b>○ 교육용 콘텐츠 개발(16종)</b></td></tr>
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 미디어 프로그래밍</td>
											<td rowspan="7" align="center">13. 08. 공개</td>
										</tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 사회문화론</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 스마트폰 게임 기초</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 3D 그래픽 실습A</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 뉴미디어 영상론</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 시각정보구조론</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 인터렉티브 미디어 기초</td></tr>
										
										<tr>
											<td>&nbsp;&nbsp;&nbsp;&nbsp;- 뉴미디어 사운드</td>
											<td rowspan="9" align="center">13. 08. 공개</td>
										</tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 문화와 콘텐츠</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 멀티미디어 콘텐츠 제작</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 미디어 UI/UX 기획</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 방송영상제작 기초</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 웹공학기초</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 디지털 퍼블리싱</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 미디어 영상 편집</td></tr>
										<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;- 디지털 시대의 스토리텔링</td></tr>
									</table>
								</div>
								
								<a href="http://www.iscu.ac.kr/03_aboutschool/18_01_overview.asp" target="_blank"><img src="/home/images/btn/btn_navigation_dept.gif"></a><br/>
							</li>
							<li class="p_l20 p_t5">
								○ 전국의 특성화고, 마이스터고에 설치된 <b>전문계학과(2,760개)중 약 16.6%(459개)에 달하는 디자인, 미디어, 콘텐츠, 
								<br/>&nbsp;&nbsp;&nbsp;&nbsp;방송·영상·게임분야의 잠재적인 교육수요에 대응</b>하고, 향후 <b>미래산업인력의 중추적인 역할을 담당할 이들의 전문성 등 
								<br/>&nbsp;&nbsp;&nbsp;&nbsp;역량강화를 지원</b>하고 대학 특성화 전략으로 방송통신 콘텐츠 산업분야를 특화하기로 위해 <b>뉴미디어콘텐츠공학과를 신설</b>
								<br/>
								○ 2011년 IMS Learning Impact Award를 받은바 있는 <b>교수학습시스템인 ‘SCU Learning WAVE', 최첨단 촬영 및  
								<br/>&nbsp;&nbsp;&nbsp;&nbsp;영상장비등이 설치된 12개의 자동화 스튜디오, 8개</b>(분당, 경기, 인천, 연무대, 광주, 강원, 대구, 부산)<b>의 지역캠퍼스를 , 
								<br/>&nbsp;&nbsp;&nbsp;&nbsp;기반</b>으로 하고 선취업-후진학 체제에 부합하도록 <b>산-학-고교 연계 클러스터를 구축</b>할 계획
							</li>
							<li class="p_l13 p_t10 t_center"><img src="/home/images/new/refer_cyber_04_img.gif"></li>
						</ul>
					</div>
				</dd>
			</dl>
			
			<br/>
			<br/>
			
			<dl class="feature">
				<dt><img src="/home/images/intro/body_stitle7.gif"></dt>
			</dl>
			
			<dl>##경희사이버대학교
				<dd><a href="#" class="faq_q_box"><img src="/home/images/new/refer_cyber_05.gif"></a>		
					<div>
						<ul>
							<li class="p_l13 p_t10 t_right">
							<a href="http://www.khcu.ac.kr/khcu_new/contents.jsp?m=11661&SITE_GRP=KHCU&lnb=4" target="_blank"><img src="/home/images/btn/btn_navigation_dept.gif"></a><br/>
							</li>
							<li class="p_l20 p_t5">
								
								○ <b>모바일 분야 기초교육과 다학제간 교육을 접목한 ‘모바일융합학과’를 신설할 계획</b><br/>
								○ 이는 <b>모바일 콘텐츠, 모바일 테크놀로지, 모바일 비즈니스를 융합</b>하여 모바일 산업에서 요구되는 <b>지식과 실무를 겸비한 <br/>&nbsp;&nbsp;&nbsp;&nbsp;미래형 전문 인재를 양성</b>하는 데에 목적이 있음<br/> 
								○ 동 대학에서는 산업체에서 요구하는 실무적 역량 강화를 위해 <b>모바일융합 역량 기반의 교육과정을 개발</b>하고, 동 <b>산업 분야의 <br/>&nbsp;&nbsp;&nbsp;&nbsp;전문가를 채용</b>하여 교육과정 및 교재 개발, 수업 운영 등을 담당하게 할 예정<br/>
								○ 또한 내실 있는 교육시스템 구현을 위해 <b>온‧오프라인 실습 환경을 구축</b>하고 <b>산학융합교육모델을 기반으로 한 <br/>&nbsp;&nbsp;&nbsp;&nbsp;실험‧실습을 추진 계획</b>
																
							</li>
							
							<li class="p_l13 p_t10 t_center"><img src="/home/images/new/refer_cyber_05_img.jpg"></li>
						</ul>
					</div>
				</dd>
			</dl>
			
			<dl>##원광디지털대학교
				<dd><a href="#" class="faq_q_box"><img src="/home/images/new/refer_cyber_06.gif"></a>		
					<div>
						<ul>
							<li class="p_l13 p_t10 t_right">
							<a href="http://www.wdu.ac.kr/introductionM/wellbeing/health01.do" target="_blank"><img src="/home/images/btn/btn_navigation_dept.gif"></a><br/>
							</li>
							<li class="p_l20 p_t5">
								<br/><br/>								
								○ 전국의 자연계열 전문계고 취업률 25.8%에 달하는 <b>음식‧숙박 계열의 잠재적인 교육수요에 대응</b>하고, <b>건강과 음식에 대한 &nbsp;&nbsp;&nbsp;&nbsp;사회적 관심도를 반영</b>하여 건강음식 전문가를 양성하기 위한 <b>한방건강학과를 특화하여 개편할 계획</b>이다.<br/>   
								○ <b>한방건강학과를 식품영양학과 융합</b>하여 교육과정을 개편하고, 보유중인 <b>조리실습실을 기반으로 조리실습 교육과정을 <br/>&nbsp;&nbsp;&nbsp;&nbsp;확대 운영</b><br/>
								○ <b>170여개 산업체 네트워크를 가진 국가식품클러스터 및 산학협력 기관과 협력하여 개편 사업을 추진</b>할 예정 
							</li>
							<li class="p_l13 p_t10 t_center"><img src="/home/images/new/refer_cyber_06_img.jpg"></li>
						</ul>
					</div>
				</dd>
			</dl>
			
			<dl>##한양사이버대학교
				<dd><a href="#" class="faq_q_box"><img src="/home/images/new/refer_cyber_07.gif"></a>		
					<div>
						<ul>
							<li class="p_l13 p_t10 t_right"><a href="http://www.hycu.ac.kr/lesinfo/?dept=30042" target="_blank"><img src="/home/images/btn/btn_navigation_dept.gif"></a><br/></li>
							<li class="p_l20 p_t5">
								<br/><br/>								
								○ 전 세계적으로 사회적 인프라 및 자본축적을 위한 <b>차세대 성장 동력으로 IT 융합산업을 추진하는 동향</b>을 반영하여 자동차와 &nbsp;&nbsp;&nbsp;&nbsp;IT를 융합한 <b>자동차IT융합공학과를 신설</b>하여 해당 분야의 <b>실무형 전문가를 양성</b>할 계획<br/>
								○ 수학 및 기초과학과 자동차IT융합공학 분야의 핵심이론을 다루는 <b>전문 교과과정을 개발</b>하고, 이론과 실제를 결합하는 <br/>&nbsp;&nbsp;&nbsp;&nbsp;<b>현장실습 중심의 실무과정</b>을 운영을 통해 <b>자동차산업 분야의 잠재 수요를 평생교육 관점에서 지원 및 운영</b>할 예정
							</li>
							<li class="p_l13 p_t10 t_center"><img src="/home/images/new/refer_cyber_07_img.jpg"></li>
						</ul>
					</div>
				</dd>
			</dl>
		</div>
	</div>
</body>