
<head>
	<title>대학원 소개</title>
	<script type="text/javascript" language="javascript">
	
	$(document).ready(function(){
		isShowInfo();
		
		$("#list a").each(function(){
			$(this).click(function(){
				$("#list a").removeClass();
				$(this).attr("class","on");
			});
		});
	});
	
	function isShowInfo()
	{
		//university_id가 넘어올경우 바로 대학정보를 보이도록 한다.
		if("$!university_id" != "")
		{
			if("$!university_id" != "0"){
				overallUnivInfo("","$university_id");
			}
		}
	}
	
	function searchUnivList(gubunId)
	{
		
		jQuery.post('overallUnivList.ajax.action', 
					{gubunId:gubunId}, 
					function(data) {
        				$("#list").html(data);
        				
						$(".tab_type2 a").removeClass();
					
						if(gubunId == '0' || gubunId == '')
							$(".tab_type2 .tab1 a").addClass("on");
						else if(gubunId == '51')
							$(".tab_type2 .tab2 a").addClass("on");
						else if(gubunId == '52')
							$(".tab_type2 .tab3 a").addClass("on");
						else if(gubunId == '163')
							$(".tab_type2 .tab4 a").addClass("on");
						else if(gubunId == '169')
							$(".tab_type2 .tab5 a").addClass("on");
							
						$("#info").html("<center class='p_t10 p_b10'><img src='/home/images/intro/no_school.gif' /></center>");
						
						$("#list a").each(function(){
							$(this).click(function(){
								$("#list a").removeClass();
								$(this).attr("class","on");
							});
						});
		});
		
	}
	
	
	//대학원 소개는 대학원 리스트를 한단계 더 표현한다.
	function overallUnivInfo(univName, univId)
	{
		
	
		$("#univName").val(univName);
		jQuery.post('graduateList.ajax.action', 
					$("#form").formSerialize(), 
					function(data) {
						$("#info").html("<center class='p_t10 p_b10'><img src='/home/images/intro/no_school.gif' /></center>");
						//alert(data);
        				$("#graduateList").html(data);
							//기본은 종합, index 에서 홍보관 클릭시는 홍보센터
							viewGubn(0);
							
							
					});
	}
	
	//대학원 소개 페이지 표시
	function overallUnivInfo2(univId)
	{
	
		$("#university_id").val(univId);
		$("#univId").val(univId);
		
		jQuery.post('overallUnivInfoGraduate.ajax.action', 
					$("#form").formSerialize(), 
					function(data) {
        				$("#info").html(data);
						//기본은 종합, index 에서 홍보관 클릭시는 홍보센터
						//viewGubn(0);
					});
	}
	
	
	function viewGubn(no)
	{
		$("#viewGubnTab a").removeClass("on");
		$("#viewGubnTab .tab"+(no+1)).addClass("on");
		$("div[id^=tab_]").hide();
		$("#tab_"+(no+1)).show();
	}
	
	
	function moveArea(classifyId)
	{
		$("#deptName").val();
		$("#classifyId").val(classifyId);
		document.form.action="/home/intro/searchMajor.sub.action?gnb=14";
		document.form.method = "post";
		document.form.submit();
		
	}

	function moveCode(classifyId, deptName)
	{
		$("#classifyId").val(classifyId);
		$("#deptName").val(deptName);
		document.form.action="/home/intro/searchMajor.sub.action?gnb=33&universityId="+$("#univId").val();
		document.form.method = "post";
		document.form.submit();
	}
	
	function popupUrl(urlIndex, academy_id) {
		if(urlIndex<=6) {
			var num="01";
		}	else {
			var num="02";
		}
		
		var link = $("#urlpattern" + urlIndex).val().replace("[SCHCODE]", academy_id).replace("[YYYY]", $("#selectYear").val()).replace("[CD]", "03");
		
		var index = link.indexOf("?") + 1;
		var qri=link.substring(index);
		
		dcsMultiTrack('DCS.dcssip','www.academyinfo.go.kr','DCS.dcsuri','/UIPISA/uipnh/unt/ipsrch/UntUnvAcdtSrchPupTab'+num+'.do','DCS.qry',qri,'WT.ti','Offsite Link - academyinfo','WT.sp','academyinfo');	

		showWin($("#urlpattern" + urlIndex).val().replace("[SCHCODE]", academy_id).replace("[YYYY]", $("#selectYear").val()).replace("[CD]", "03"), 'overallwin', 1024, 768);
	}	
	
	//대학원 상세 리스트
	function selectClassifyItem(classifyName,classifyId){
		$("#selectUnivList").hide();
		jQuery.post('deptList.ajax.action',{classifyName:classifyName,classifyId:classifyId},  
				function(data) {
					alert(data);
        			$("#graduateList").html(data);
		});
	}
	
	</script>
</head>
<body>

<p class="location">
	<a href="/home/index2.main2.action">대학원 홈</a> <span>></span> <a href="/home/intro/summaryGrad.sub2.action?gnb=11">사이버대학원안내</a> <span>></span> <a href="/home/intro/overallGraduate.sub2.action?gnb=121">대학원 소개</a>
</p>
<h3><img src="/home/images/intro/title2_01.gif" alt="사이버대학이란?" /></h3>
<div class="contentWrap">		
<form class="" id="form" name="form" action="#" onsubmit="try{search();}catch(e){alert(e);}return false;"><!-- box_type01 Start -->

<input type="hidden" id="showCnt" name="showCnt" value="999"/>
<input type="hidden" id="currPage" name="currPage" value="1"/>

<input type="hidden" id="classifyId" name="classifyId" value=""/>
<input type="hidden" id="deptName" name="deptName" value=""/>
<input type="hidden" id="deptId" name="deptId" value=""/>
<input type="hidden" id="univId" name="univId" value=""/>
<input type="hidden" id="university_id" name="university_id" value=""/>
<input type="hidden" id="univName" name="univName" value=""/>

<!-- viewGubn : 종합, 인사말, 비전, 홍보센, 오시는길 선택값 [기본 : 종합]  -->
<input type="hidden" id="viewGubn" name="viewGubn" value="1"/>

<ul class="tab_type2">
##	<li class="tab1"><a class="on" href="javascript:searchUnivList('')">전체</a> </li>
##	<li class="tab2"><a href="javascript:searchUnivList('51')">사이버대학(4년제)</a> </li>
##	<li class="tab3"><a href="javascript:searchUnivList('52')">사이버대학(2년제)</a> </li>
##	<li class="tab4"><a href="javascript:searchUnivList('163')">원격대학 형태의 평생교육 시설</a> </li>
	<li class="tab5"><a class="on" href="#">대학원</a></li>
</ul>

<!-- 대학리스트 화면 -->
<div id="list">#parse('home/intro/overallUnivList.vm')</div>
<!-- 대학리스트 화면 -->

<div id="graduateList">#parse('home/intro/graduateList.vm')</div>

<br/>
<br/>

<!-- 대학 정보 -->
<div id="info">#parse('home/intro/overallUnivInfo.vm')</div>
<!-- 대학 정보 -->

</form>
</div>
</body>
</html>

