@charset"utf-8";
@import url("/home/css/base.css");
@import url("/home/css/board.css");
@import url("/home/css/about.css");
@import url("/home/css/common.css");

/*********************** Layout Base Style ***********************/
body{color:#666;padding:20px 3px 0 3px !important;background:#fff;}

#contents{padding:20px 20px 0 20px; border:solid 1px #0088A9;border-top:none;overflow:hidden; magrin:0 0 35px 0; }