<dl class="class_box type1">
	<dt>
		<img src="/home/images/intro/searchByMajorArea_title2.gif" alt="학위논문" />
		<a class="on" target="_blank" href="http://www.riss.kr/index.do" onclick="dcsMultiTrack('DCS.dcssip','http://www.riss.kr','DCS.dcsuri','/index.do','DCS.qry','','WT.ti','Offsite Link - riss','WT.sp','riss')"><img src="/home/images/btn/more2.gif" alt="more" /></a>
	</dt>
	#foreach($list in $kocwApiSearch_A)
	<dd><a target="_blank" href="$list.url" title="$list.title" onclick="dcsMultiTrack('DCS.dcssip','$!list.sip','DCS.dcsuri','$!list.uri','DCS.qry','$!list.qri','WT.ti','Offsite Link - $!list.sp','WT.sp','$!list.sp')">$list.text</a></dd>
	#end
	
	#set($cnt = $kocwApiSearch_A.size() + 1)
    #if($cnt == 1)
    	<br/><center>검색된 학위논문가 없습니다.</center>
    #end
</dl>