<html>
	<head>
		<title>
			강의검색 상세화면
		</title>
		<link rel="stylesheet" type="text/css" href="/home/css/course.css" />
	</head>
	<body>
		
<p class="location">
			<a href="">홈</a> <span>></span> <a href="">사이버대학안내</a> <span>></span> <a href="">대학소개</a> 
		</p>
		<h3>
			<img src="/home/images/title/h3_subject_search.gif" alt="강의명 검색" />
			<img src="/home/images/title/c_06.gif" alt="원하시는 학과분야에 마우스를 클릭해주세요." />
		</h3>
		
		<div class="contentWrap">
			<!--s:컨텐츠영역-->
				<div id="mainDiv" class="search_major type1">
					<form class="" id="form" name="form" action="#">
						<fieldset class="inner">
							<table cellspacing="0" cellpadding="0" class="tbl">
							<tbody>
							<tr class="top02">
								<td>
									<label for="checkbox1"><input type="checkbox" value="1" id="checkbox1" name="checkbox1"> 공개강의</label>
									<label for="checkbox2"><input type="checkbox" value="1" id="checkbox2" name="checkbox1"> 맛보기강의</label>
								</td>
							</tr>
							<tr>
								<td>
									<select id="select" name="select" style="width:80px;">
										<option value="1">강의명</option>
										<option value="2">교수자명</option>
										<option value="3">학교명</option>
										<option value="4">강의설명</option>
										<option value="5">키워드</option>
									</select> <input type="text" name="" value="" style="width:320px" />
									<a href="#"><img src="/home/images/btn/search2.gif" alt="검색" /></a>
									<a href="#"><img src="/home/images/btn/btn_search.gif" alt="상세검색" /></a>
								</td>
							</tr>
							</tbody>
							</table>
						</fieldset>
					</form>
				</div>
				<div class="list_btn2">
					<a href="#"><img src="/home/images/btn/btn_taste.gif" alt="맛보기" /></a>
					<a href="#"><img alt="목록" src="/home/images/btn/list2.gif"></a>
				</div>
				<div class="search_list_area">
					<div style="display: block;" id="viewInfo">
						<div class="view_top">
							<span>풍수학설사</span>
						</div>
						<ul class="view_type2">
							<li><span>대학명 : </span>&nbsp;글로벌사이버대학교 <a href="#" class="btn_plus"><img src="/home/images/btn/btn_plus.gif" alt="+" /></a></li>
							<li><span>열람횟수 : </span>&nbsp;100</li>
							<li><span>교수자 : </span>&nbsp;홍길동 <a href="#" class="btn_plus"><img src="/home/images/btn/btn_plus.gif" alt="+" /></a></li>
							<li><span>학과 : </span>&nbsp;미디어창작문학과 <a href="#" class="btn_plus"><img src="/home/images/btn/btn_plus.gif" alt="+" /></a></li>
							<li><span>학점 : </span>&nbsp;00</li>
							<li><span>개설일 : </span>&nbsp;2011.01.30~2011.08.31</li>
							<li class="w100p"><span>강의학기 : </span>&nbsp;1학기</li>
							<li class="w100p"><span>강의계획서 : </span>&nbsp;미디어강의계획서 <a href="#" class="btn_plus"><img src="/home/images/icon/icon_memo.gif" alt="" /></a></li>
							<li class="w100p"><span>관련자료 : </span>&nbsp;미디어문화의 이해 <a href="#" class="btn_plus"><img src="/home/images/icon/icon_disk.gif" alt="" /></a></li>
							<li class="w100p">
								<span>강의설명 : </span><br />
								<p>asdfasdfasdfasdfas dfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf asdfasdfasdfasdfasdfasdfasdfasdfasdfasdf</p>
							</li>
						</ul>
					</div>
					<div class="univ_table2 type1" style="display: block;" id="viewList">
						<div class="bul2">차시별 강의</div>
						<table cellspacing="0" cellpadding="0" summary="과정관리"><!-- table_type1 st01 Start -->
							<caption>과정관리</caption>
							<colgroup>
								<col width="7%">
								<col width="*%">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">차시</th>
									<th scope="col">강의명</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td> 1 </td>
									<td>풍수지리의 탄생 배경 <a href="#" class="btn_plus"><img src="/home/images/icon/icon_cd.gif" alt="" /></a></td>
								</tr>
								<tr>
									<td></td>
									<td>역경, 서경과 풍수지리</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="kocwApiSearch_K">
						<dl class="class_box">
							<dt>
								<img alt="KOCW 공개강의" src="/home/images/intro/searchByMajorArea_title1.gif">
								<a href="http://www.kocw.net/home/index.do" target="_blank" class="on"><img alt="more" src="/home/images/btn/more2.gif"></a>
							</dt>
							<dd class="even"><a title="세계속의 한국문화" href="http://www.kocw.net/home/search/kemView.do?kemId=302509" target="_blank">세계속의 한국문화</a></dd>
							<dd><a title="사이버범죄론 (Cybercrim Study)" href="http://www.kocw.net/home/search/kemView.do?kemId=298134" target="_blank">사이버범죄론 (Cyber..</a></dd>
							<dd class="even"><a title="2010 KERIS 교육정보화 심포지움" href="http://www.kocw.net/home/search/kemView.do?kemId=171466" target="_blank">2010 KERIS 교육..</a></dd>
							<dd><a title="원격교육론 (Distance Education)" href="http://www.kocw.net/home/search/kemView.do?kemId=141784" target="_blank">원격교육론 (Distan..</a></dd>
							<dd class="even"><a title="2009년도 사이버대학 자체평가 워크숍 (Workshop on Self-evaluation of Cyber Universities, 2009)" href="http://www.kocw.net/home/search/kemView.do?kemId=129321" target="_blank">2009년도 사이버대학 ..</a></dd>
						</dl>
					</div>
					<div id="kocwApiSearch_A">
						<dl class="class_box type1">
							<dt>
								<img alt="학위논문" src="/home/images/intro/searchByMajorArea_title2.gif">
								<a href="http://www.riss.kr/index.do" target="_blank" class="on"><img alt="more" src="/home/images/btn/more2.gif"></a>
							</dt>
							<dd class="even"><a title="소셜 네트워크(Social Network) 세대를 향한 교회의 대응과 과제" href="http://www.riss.kr/link?id=U12638640_003" target="_blank">소셜 네트워크(Socia..</a></dd>
							<dd><a title="스마트 작동기를 이용한 햅틱 마스터 로봇 시스템의 설계 및 제어" href="http://www.riss.kr/link?id=U12704194_003" target="_blank">스마트 작동기를 이용한 ..</a></dd>
							<dd class="even"><a title="고도 기술시대의 몸에 관한 사회학적 연구" href="http://www.riss.kr/link?id=U12702823_003" target="_blank">고도 기술시대의 몸에 관..</a></dd>
							<dd><a title="국가정보 기능의 변화와 정보기관의 발전 방향" href="http://www.riss.kr/link?id=U12698185_003" target="_blank">국가정보 기능의 변화와 ..</a></dd>
							<dd class="even"><a title="초·중등 영어교사를 위한 사이버형 영어교사 심화연수 프로그램 효과 연구" href="http://www.riss.kr/link?id=U12684209_003" target="_blank">초·중등 영어교사를 위한..</a></dd>
						</dl>
					</div>
				</div>
			<!--e:컨텐츠영역-->
		</div>
	</body>
</html>